﻿/** {
	 MARGIN: 0px; PADDING-LEFT: 0px;
	
}*/

/**
 * Overlay CSS.
    START
**/

.dollars {
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    font-family:Helvetica;
    font-size: 10pt;
    color: forestgreen;
    font-weight: bold;
    /*border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: forestgreen;*/
}
.dollars-grey {
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    font-family:Helvetica;
    font-size: 10pt;
    color: darkgrey;
    font-weight: bold;
    /*border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;*/
}
.select-overlay { background:#fff }

.MultiLabel-711PX
{
    width: 711px; 
    display: inline-block; 
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.select-overlay span
{
    display:block;
    float:left;
    clear:both;
    background:transparent url(../Images/bg-ie-select-width.png) no-repeat 0 0
}

.ratingStarFilled span:after {
    display: inline;
}

.ratingStarEmpty {
     display: inline;
}


.text-danger {
  color: #a94442;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: normal;
}


/* Overlay CSS for Internet Explorer 6 and 7 */
.ie6 .select-overlay span,
.ie7 .select-overlay span
{
    width:18px;
    height:22px;
    background-position:0 -20px
}

.ie6 .select-overlay-hover span,
.ie7 .select-overlay-hover span { background-position:-18px -20px }

.ie6 .select-overlay-active span,
.ie7 .select-overlay-active span { background-position:-18px -20px }


/* Overlay CSS for Internet Explorer 8 with no borders or padding */
.ie8 .select-overlay span
{
    width:18px;
    height:20px;
    background-position:0 0
}

.ie8 .select-overlay-hover span { background-position:-18px 0 }

.ie8 .select-overlay-active span { background-position:-18px 0 }


/* Overlay CSS for Internet Explorer 8 with borders and padding */
#select-styleable-container.ie8 .select-overlay span
{
    width:17px;
    height:20px;
    background-position:-36px 0
}

#select-styleable-container.ie8 .select-overlay-hover span { background-position:-53px 0 }

#select-styleable-container.ie8 .select-overlay-active span { background-position:-53px 0 }


/*END*/

.bim-question
{
    font-family: Tahoma;
    font-size: 11px;
    width: 80%;
    vertical-align: text-top;
    font-weight: bold;
}

.lnk-disabled
{
    text-decoration: none;
    color:GrayText;
    cursor: default;
}

/* G. Vera tab content css */
ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin: 0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}

ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right: 3px; /*distance between tabs*/
}

ul.tabs li a
{
    font: normal 12px Tahoma;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color: #B7B7B7;
    color: #000;
    background: #F0F0F0 url(../Images/tabbg.gif) 0 0 repeat-x; /*background: #F0F0F0 url(../Images/tabbgg-blue.jpg) 0 0 repeat-x;*/
    border-radius: 2px 2px 0 0;
    outline: none;
}

ul.tabs li a:visited
{
    color: #000;
}

ul.tabs li a:hover
{
    border: 1px solid #B7B7B7; /*background:#F0F0F0 url(../Images/tabbg.gif) 0 -36px repeat-x;*/
    background: #F0F0F0 url(../Images/tabbgg-blue-selected.jpg) 0 -36px repeat-x;
}

ul.tabs li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight: bold;
    color: #015391; /*background: white;*/
    background: #F0F0F0 url(../Images/tabbgg-blue-selected.jpg) 0 0 repeat-x; /*border: 1px solid #B7B7B7;     border-bottom-color: white;*/
    border: 1px solid #A7D3F0;
}

.selected
{
    /*position: relative;     top: 0px;     font-weight:bold;     background: white;     border: 1px solid #B7B7B7;     border-bottom-color: white;*/
    position: relative;
    top: 0px;
    font-weight: bold; /*background: white;*/
    background: #F0F0F0 url(../Images/tabbgg-blue-selected.jpg) 0 0 repeat-x; /*border: 1px solid #B7B7B7;     border-bottom-color: white;*/
    border: 1px solid #A7D3F0;
    border-bottom-color: #A7D3F0;
}

.tab-container
{
    width: 600px;
    margin: 0px;
    padding: 10px 0 10px 12px;
    font: 0.85em Tahoma;
}

.tab-container-internal
{
    width: 100%;
    margin: 0px;
    padding: 10px 0 10px 7px;
    font: 0.85em Tahoma;
}

ul.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}

div.tabcontent
{
    display: block;
}

div.tabcontents
{
    border: 1px solid #B7B7B7;
    padding: 30px;
    background-color: #FFF;
    border-radius: 0 2px 2px 2px;
}
/* G. Vera tab content css */


.hidecontrol
{
    display: none;
}
.linkbtn
{
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
}
.chkbox label
{
    color: black;
    border-style: none;
    font-family: Tahoma;
    font-size: 11px;
    margin-left: 5px;
    text-align: justify;
    padding: 5px;
}
.MultiLabel
{
    overflow: hidden;
    font-family: Tahoma;
    font-size: 11px;
    width: 220px;
    color: black;
    background-color: #fbfbfb;
    border-style: none;
}
.MultiLabelNone
{
    overflow: hidden;
    background-color: #fbfbfb;
    border-style: none;
}
.container
{
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
    width: 900px;
    vertical-align: top;
    background-repeat: repeat-x;
    background-color: #ffffff;
    height: 100%;
}

.special
{
    background-color: #990000;
    font-weight: bold;
    font-size: 11px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #fff;
    font-family: Tahoma;
    text-align: right;
}
.special1
{
    background-color: #990000;
    font-weight: bold;
    font-size: 11px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #fff;
    font-family: Tahoma;
    text-align: left;
}

.greenbold
{
    font-weight: bold;
    font-family: Tahoma;
    color: Green;
}
.darkredbold
{
    font-weight: bold;
    font-family: Tahoma;
    color: Red;
}

.redbold
{
    font-weight: bold;
    font-family: Tahoma;
    color: #333333;
}
.scopelink
{
    font: bold 11px tahoma;
    color: #005785;
}
.even_pad
{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.visiblepane
{
    display: block;
}
.radstyle
{
    font: 11px Tahoma;
    vertical-align: top;
    height: 10px;
    padding-left: 0px;
    padding-bottom: 2px;
    margin: 0px;
    white-space: nowrap;
    text-align: left;
}
.formtdboldHighLight
{
    font-family: Tahoma;
    padding-bottom: 5px;
    text-align: left;
    color: Red;
    font-size: 11px;
    font-weight: bold;
}
.progress
{
    width: 1px;
    height: 17px;
    color: white;
    font-size: 12px;
    overflow: hidden;
    background-color: #385f04;
    padding-left: 0px;
}

.display_Check
{
    padding-left: 10px;
    vertical-align: top;
    padding-top: 0px;
}
.leftmenutd
{
    width: 170px;
    vertical-align: top;
    padding-right: 2px;
}
.bottommenutd
{
    background: url(../images/line.gif);
    background-position: bottom 50%;
    background-repeat: repeat-x;
}
.linkbg
{
    background: url(../images/admin_linkbg.jpg) repeat-x;
}

.link_welcometxt
{
    font-weight: normal;
    font-size: 11px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #333;
    font-family: "tahoma";
    text-decoration: none;
}
.formhead
{
    text-align: left;
    font-family: Tahoma;
    font-size: 14px;
    padding: 3px 3px;
    border-bottom: 1px solid #3f3f3f;
    font-weight: bold;
    color: #005785;
}

.formhead1
{
    text-align: left;
    font-family: Tahoma;
    font-size: 11px;
    padding: 3px 3px;
    border-bottom: 1px solid #3f3f3f;
    font-weight: bold;
    color: #005785;
}

.formhead2
{
    text-align: left;
    font-family: Tahoma;
    font-size: 11px;
    padding: 3px;
    border-bottom: 1px solid #005785;
    font-weight: bold;
    color: #005785;
}
.contenttd
{
    background: url(../images/line.gif);
    background-position: left 50%;
    background-repeat: repeat-y;
    padding: 20px 15px 20px 15px;
    vertical-align: top;
    height: 380px;
}
.contenttdview
{
    background: url(../images/line.gif);
    background-position: left 50%;
    background-repeat: repeat-y;
    padding: 0px 15px 20px 15px;
    vertical-align: top;
    height: 380px;
}
.searchtableclass
{
    border: solid 1px #005785;
}
/*Jay*/
.searchtableclass1
{
    border: solid 1px #005785;
    padding: 5px;
}

/*Jay*/


.searchhdrbarbold
{
    text-decoration: none;
    font-family: Tahoma;
    background-color: #005785;
    color: White;
    padding: 3px 3px 3px 8px;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    height: 20px;
}
.regionheader
{
    text-decoration: none;
    font-family: Tahoma;
    background-color: #efefef;
    color: Black;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    padding: 4px 0px 6px 5px;
}

.chkall
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid #cccccc;
}

.keyheader
{
    text-decoration: none;
    font-family: Tahoma;
    background-color: #e7eaef;
    color: Black;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    padding: 2px 3px 2px 10px;
    height: 20px;
    border-bottom: solid 1px #cecece;
    border-right: solid 1px #cecece;
}
.regionstd
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
}
.tdheight
{
    height: 10px;
    font-size: 11px;
}
.formtdrt
{
    padding-left: 10px;
    font-family: Tahoma;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    font-size: 11px;
}
.formtdrt2
{
    padding-right: 10px;
    font-family: Tahoma;
    padding-bottom: 4px;
    text-align: left;
    color: black;
    font-size: 11px;
}

.formtdlt
{
    text-align: right;
    font-family: Tahoma;
    font-size: 11px;
    padding-bottom: 4px;
    color: black;
}
.formtd
{
    text-align: right;
    font-family: Tahoma;
    font-size: 11px;
    padding-bottom: 4px;
    color: black;
}
.formtdbold_rt
{
    padding-left: 7px;
    font-family: Tahoma;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    font-size: 11px;
    font-weight: bold;
}
.ddlbox
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
}

.home_link
{
    text-align: right;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 5px;
    font-family: Tahoma;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    text-decoration: underline;
}
a.home_link:link
{
    font-family: Tahoma;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
a.home_link:Hover
{
    font-family: Tahoma;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.lstbox
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    width: 155px;
}
.lstbox label
{
    padding-bottom: 2px;
}
.text
{
    font-family: Tahoma;
    font-size: 13px;
    color: #005785;
    font-weight: bold;
}
.txtbox
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    padding-left: 2px;
}
.txtboxNum
{
    font-family: Tahoma;
    font-size: 11px;
    width: 150px;
    color: black;
    padding-left: 2px;
    text-align: right;
}
.txtboxupper
{
    font-family: Tahoma;
    font-size: 11px;
    width: 150px;
    color: black;
    padding-left: 2px;
    text-transform: uppercase;
}
.ajaxtxtbox
{
    font-family: Tahoma;
    font-size: 11px;
    width: 360px;
    color: black;
    padding-left: 2px;
}
.txtbox1
{
    font-family: Tahoma;
    font-size: 11px;
    width: 150px;
    color: black;
    padding-left: 2px;
    text-align: right;
}
.txtbox1left
{
    font-family: Tahoma;
    font-size: 11px;
    width: 150px;
    color: black;
    padding-left: 2px;
    text-align: left;
}
.fileUpload
{
    font-family: Tahoma;
    font-size: 11px;
    width: 230px;
    color: black;
}
.txtboxmedium
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    width: 85px;
    color: Black;
    padding-left: 2px;
}
.txtboxmedium1
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: right;
    color: Black;
    padding-left: 2px;
}
.txtboxmedium2
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: right;
    width: 40px;
    color: Black;
    padding-left: 2px;
}
.txtboxsmall
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    width: 40px;
    color: black;
    padding-left: 2px;
}
.txtboxtosmall
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    width: 20px;
    color: black;
    padding-left: 2px;
}
.bodytextheadbold
{
    font-family: Tahoma;
    font-size: 14px;
    color: black;
    text-align: left;
    font-weight: bold;
}
.bodytextheadbold2
{
    font-family: Tahoma;
    font-size: 12px;
    color: black;
    text-align: left;
    font-weight: bold;
}

.bodytextheadcenter
{
    font-family: Tahoma;
    font-size: 13px;
    color: black;
    text-align: center;
    font-weight: bold;
}
.bodytextheadright
{
    font-family: Tahoma;
    font-size: 13px;
    color: black;
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
}
.bodytextnamebold
{
    font-family: Tahoma;
    font-size: 20px;
    color: black;
    text-align: left;
    font-weight: bold;
}

/*G. Vera 07/14/2014: Added*/
.bodytextheadright_highlight
{
    font-family: Tahoma;
    font-size: 14px;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #2E4D7B;
    width: auto;
    margin-top: 2px;
}


.txtboxlarge
{
    font-family: Tahoma;
    font-size: 11px;
    width: 220px;
    color: black;
}

.txtboxlargeCustom
{
    font-family: Tahoma;
    font-size: 11px;
    width: 180px;
    color: black;
}

.txtboxlarge1
{
    font-family: Tahoma;
    font-size: 11px;
    width: 250px;
    height: 50px;
    color: black;
}
.txtboxlargeNum
{
    font-family: Tahoma;
    font-size: 11px;
    width: 205px;
    color: black;
    text-align: right;
}

.txtboxlarge2
{
    font-family: Tahoma;
    font-size: 11px;
    width: 275px;
    color: black;
}
.txtboxmultilarge
{
    font-family: Tahoma;
    font-size: 11px;
    width: 500px;
    color: black;
    overflow: hidden;
}
.bodytextcenter
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: center;
}
.bodytextcenter_italic
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    font-style: italic;
    text-align: center;
}

/*G. Vera 06/20/2014: Added */
.bodytextcenter_bold
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.bodytextright
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: right;
}
.bodytextleft
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: left;
    height: 100%;
}
.leftdiv
{
    margin-left: 20%;
}

.companytypeddl
{
    font-family: Tahoma;
    font-size: 8pt;
    color: black;
    text-align: left;
    padding-left: 2px;
}
.TreeDetails
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: left;
    padding-left: 50px;
}

.sessiontextleft
{
    font-family: Tahoma;
    font-size: 12px;
    color: black;
    text-align: left;
}
.sessiontextbold
{
    font-family: Tahoma;
    font-size: 12px;
    color: black;
    text-align: left;
    font-weight: bold;
}
.bodytextleftView
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 5px 0px 5px 0px;
}

.bodytextleftViewv
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.bodytextbold_rightv
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: right;
    font-weight: bold;
    padding: 5px 10px 5px 0px;
}
.bodytextbold_rightv1
{
    font-family: Tahoma;
    font-size: 11px;
    color: #005785;
    text-align: right;
    font-weight: bold;
    padding: 5px 10px 5px 0px;
}
.bodytextbold_right
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: right;
    font-weight: bold;
}
.bodytextbold
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: left;
    font-weight: bold;
}
.bodytextboldBlue
{
    font-family: Tahoma;
    font-size: 11px;
    color: #005785;
    text-align: left;
    font-weight: bold;
}
.bodytextboldHead
{
    font-family: Tahoma;
    font-size: 14px;
    color: black;
    text-align: left;
    font-weight: bold;
}
.listheading
{
    text-align: left;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    background-color: #005785;
    color: #fff;
    height: 20px; /*padding:10px; 	border-bottom:1px solid #ff0000; 	border-right: 1px solid #fff; 	padding-bottom :4px; 	padding-left:8px; 	padding-top:4px;*/
}

.gridpad
{
    padding-left: 10px;
    text-align: left;
}

.listone
{
    text-align: left;
    font-family: Tahoma;
    font-size: 11px;
    background-color: #F3F8FE;
    color: #2f2f2f;
    height: 20px; /*border-bottom:1px solid #fff; 	border-right: 1px solid #fff; 	vertical-align:top; 	padding-bottom :4px; 	padding-left:8px; 	padding-top:4px;*/
}


/*tr.listone td
{
padding-left: 10px; 
padding-right: 10px;
padding-top: 7px; 
padding-bottom: 5px;

}

tr.listheading.td
{
	text-align:center;
	}
tr.listtwo td
{
padding-left: 10px; 
padding-right: 10px;
padding-top: 7px; 
padding-bottom: 5px;
}

.listone A
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: none;
	
}
.listone A:Hover
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: underline;
	
}*/
.listtwo
{
    text-align: left;
    font-family: Tahoma;
    font-size: 11px;
    background-color: #DDE4EE;
    color: #2f2f2f;
    height: 20px; /*border-bottom:1px solid #fff; 	border-right: 1px solid #fff; 	vertical-align:top; 	padding-bottom :4px; 	padding-left:8px; 	padding-top:4px; 	TEXT-DECORATION: none;*/
}

/*.listtwo A
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: none;
}

.listtwo A:Hover
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: underline;
}*/

.updatevqf
{
    background: #f03030;
    color: White;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 22px;
    width: 191px;
    height: 54px;
    border: none;
}
.rowstyleone
{
    font-size: 11px;
    font-weight: normal;
    font-family: Tahoma;
    color: #333;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.copyrights
{
    font-weight: normal;
    font-size: 10px;
    color: #666666;
    font-family: "tahoma";
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    text-align: center;
    border-top: #cccccc 1px solid;
}
.hyplinks
{
    font-weight: normal;
    font-size: 11px;
    padding-left: 5px;
    color: Blue;
    font-family: "verdana";
}
.hdrbold
{
    padding-top: 10px;
    font-family: Tahoma;
    font-size: 11px;
    color: #005785;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 0px;
    text-align: left;
}
.mandatorystar
{
    color: red;
    padding-right: 3px;
    font-size: 11px;
}
.exampletext
{
    font-weight: bold;
    color: #005785;
    font-family: Tahoma;
    font-size: 11px;
}
.subHeadtext
{
    font-weight: normal;
    color: #005785;
    font-family: Tahoma;
    font-size: 11px;
}
.Generaltext
{
    font-weight: bold;
    color: Black;
    font-family: Tahoma;
    font-size: 11px;
}
.Accordheading
{
    background-color: #005785;
    height: 20;
    border-bottom: 1px solid #ffffff;
    vertical-align: middle;
    text-align: left;
    font-family: Tahoma;
    font-size: 11px; /*background-image: url(../Images/btn_admin/accbtn_dwn_ad.gif);*/
    background-repeat: no-repeat;
    font-weight: bold;
    color: #ffffff;
    cursor: hand;
    text-decoration: none;
}
.logtbl
{
    padding: 15px;
}

.pad_left
{
    padding: 15px 45px 0px 0px; /*PADDING-LEFT: 470px; */
}
.redtextleft
{
    font-family: Tahoma;
    font-size: 11px;
    color: red;
    text-align: left;
}
.greentextleft
{
    font-family: Tahoma;
    font-size: 11px;
    color: green;
    text-align: left;
}
.even_border
{
    /*border:1px solid #666; BORDER-BOTTOM: #666 1px solid; BORDER-RIGHT: #666 1px dotted; BORDER-top: #666 1px dotted; BORDER-left: #666 1px dotted;*/
}
.login_heads
{
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    font-family: "tahoma"; /*	BACKGROUND: url(../images/arrow.png) no-repeat;*/
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #beced6;
}
/*menu control*/
.tabs
{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.adminltmenutd
{
    font-size: 11px;
    font-weight: bold;
    font-family: Tahoma;
    color: #333333;
    border-bottom: 1px solid #aaaaaa;
    background-color: #fff;
    width: 170px;
    padding: 4px 5px 6px 10px;
    height: 15px;
}
.adminltmenutxt
{
    font-size: 11px;
    font-weight: bold;
    font-family: Tahoma;
    color: #333333;
    text-decoration: none;
}

.tab
{
    font-size: 11px;
    font-weight: bold;
    font-family: Tahoma;
    color: #333333;
    border-bottom: 1px dotted #666666;
    background-color: #fff;
    width: 170px;
    padding: 5px 5px 5px 10px;
    height: 15px;
}
.selectedTab
{
    background-color: #333;
    color: #ffffff;
    border-bottom: solid 1px white;
}
.completeSection
{
    font-family: Arial, Sans-Serif;
    font-size: small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d79ac 1px dotted;
    text-align: left;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    padding-left: 30px;
    background: url(../images/completed.png) 5px 0px no-repeat;
    background-color: #666666;
}

.incompleteSection
{
    font-family: Arial, Sans-Serif;
    font-size: small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d79ac 1px dotted;
    text-align: left;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    padding-left: 30px;
    background: url(../images/imcompleted.png) 5px 0px no-repeat;
    background-color: #666666;
}
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size: small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d79ac 1px dotted;
    text-align: left;
    font-family: Arial;
    font-size: 11px;
    color: #333;
}



/*menu control*/
/*top menu */
.main_link
{
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    font-family: "tahoma";
    text-decoration: none;
    padding-left: 2px;
    padding-top: 3px;
    padding-right: 2px;
    padding-bottom: 3px;
    text-align: center;
}
.main_link A
{
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    font-family: "tahoma";
    text-decoration: none;
}
.main_link A:hover
{
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    font-family: "tahoma";
    text-decoration: underline;
}
.headerbg
{
    background-color: #005785;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* top menu end */
/* new j*/

.grid_heading
{
    background: url(../images/grid_head.jpg) repeat-x;
    height: 25PX;
    font-weight: bold;
    font-size: 11px;
    color: #333333;
    font-family: "tahoma";
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    border-bottom: #666 1px dotted;
    border-right: #666 1px dotted;
}

.floatDiv
{
    text-align: left;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    background-color: #809dad;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    line-height: 15px;
    width: 250px;
    padding: 10px;
    display: none;
    z-index: 101;
    position: absolute;
    border: solid 1px;
}

.lineone
{
    background-color: #ffffff;
    font-weight: normal;
    font-size: 11px;
    color: #003399;
    font-family: "tahoma";
    vertical-align: top;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 15px;
    border-bottom: #666 1px dotted;
    border-right: #666 1px dotted;
}
.linetwo
{
    background-color: #ebebeb;
    font-weight: normal;
    font-size: 11px;
    color: #003399;
    font-family: "tahoma";
    vertical-align: top;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    border-bottom: #666 1px dotted;
    border-right: #666 1px dotted;
}
.box1
{
    border-right: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    background-color: #ffffff;
    color: #003399;
}
.table_border
{
    background-color: #fbfbfb;
    border-bottom: #666 1px dotted;
    border-right: #666 1px dotted;
    border-top: #666 1px dotted;
    border-left: #666 1px dotted;
    padding: 10px 10px 10px 10px;
}
.table_border1
{
    background-color: #fbfbfb;
    border-bottom: #666 1px;
    border-right: #666 1px;
    border-top: #666 1px;
    border-left: #666 1px;
    padding-left: 5px;
}



.trvleft
{
    text-align: left;
    color: Red;
    padding-left: 4px;
    padding-top: 4px;
}
.trvleft A
{
    text-align: left;
    color: Red;
    padding-left: 4px;
    padding-top: 4px;
}
.trvleft A:hover
{
    text-align: left;
    color: Red;
    padding-left: 4px;
    padding-top: 4px;
}

.errormsg
{
    font-family: Tahoma;
    font-size: 11px;
    color: Red;
}

.summaryerrormsg
{
    font-family: Tahoma;
    font-size: 11px;
    color: Red;
    line-height: 16px;
}
/* G. Vera 4/19/2012 - Added class */
.editvendnocontent
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    line-height: 16px;
}

.popupdiv2
{
    background-color: #006599;
    border: solid 0.5px #006599;
    width: 450px;
    display: block;
    text-align: left;
    z-index: 100;
}
.ddlbox2
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
}

/* end*/
.list_head
{
    font-weight: bold;
    font-size: 11px;
    color: #333333;
    font-family: "tahoma";
    text-decoration: none;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: #cccccc 1px dotted;
}
.list_head1
{
    font-weight: bold;
    font-size: 11px;
    color: #333333;
    font-family: "tahoma";
    text-decoration: none;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.tree_head
{
    font-weight: bold;
    font-size: 11px;
    color: #005785;
    font-family: "tahoma";
    text-decoration: none;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.tree_head1
{
    font-weight: bold;
    font-size: 11px;
    color: #005785;
    font-family: "tahoma";
    text-decoration: none;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.list_display
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: normal;
    width: 700px;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: default;
}
.cert_display
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: normal;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: default;
}
.cert_display td
{
    text-indent: -30px;
    padding-left: 30px;
}
.list_Certification
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: normal;
    width: 400px;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: default;
}
.list_displaybold
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: bold;
    width: 700px;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: default;
}
.sectionpad
{
    padding: 3px;
}

.Treestyle
{
    padding-left: 25px;
}

.tree_display1
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 2px;
    cursor: default;
}
.lnkAttach
{
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma;
    color: #005785;
    padding: 0px 0px 0px 0px;
    /*background-color: #dddddd;*/
    text-decoration: underline;
}

.lnkcolor
{
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma;
    color: #005785;
    padding: 1px 6px 2px 6px;
    background-color: #dddddd;
    border-right: 2px solid #ffffff;
    text-decoration: none;
}
.Selectlnkcolor
{
    font-weight: bold;
    font-size: 11px;
    font-family: Tahoma;
    color: white;
    text-decoration: none;
    cursor: default;
    background-color: #005785;
    padding: 1px 6px 2px 6px;
    border-right: 2px solid #ffffff;
}
.list_displayView
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: normal;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-right: 50px;
    cursor: default;
}
.list_displayView input
{
    float: inherit;
}

.list_displayView label
{
    float: inherit;
}
.list_displayView td
{
    text-indent: -20px;
    padding-left: 20px;
}
.list_display1
{
    font-size: 11px;
    color: black;
    font-family: "tahoma";
    font-weight: normal;
    padding-left: 0px;
    padding-bottom: 2px;
    cursor: default;
}
.list_display1 input
{
    float: inherit;
}

.list_display1 label
{
    float: inherit;
}
.list_display1 td
{
    text-indent: -65px;
    padding-left: 65px;
}
/* pop up*/
.popupdivcl
{
    background-color: #ffffff;
    padding: 0px 25px 3px 25px; /* border-left:1px solid #3a4d1a;  border-right:1px solid #3a4d1a;*/
}

.CursorStyle
{
    cursor: pointer;
}

.popupspc
{
    background-color: #ffffff;
    display: block;
}
.popupbg
{
    background-color: black;
    filter: alpha(opacity=50);
    opacity: 0.5;
    moz-opacity: 0.5;
    margin-top: 0px;
    margin-left: 0px;
}

.popupdivbg
{
    background-color: #ffffff;
    border: solid 1px #3f3f3f;
    width: 480px;
    display: block;
    text-align: left;
}
.popupdivbg1
{
    background-color: #ffffff;
    border: solid 1px #3f3f3f;
    width: 425px;
    display: block;
    text-align: left;
}

.popuplegdiv
{
    background-color: #ffffff;
    border: solid 1px #3f3f3f;
    width: 575px;
    display: block;
    text-align: left;
}
a.green
{
    color: #138f4d;
    text-decoration: underline;
}

a:hover.green
{
    color: #138f4d;
    text-decoration: none;
}

a.grey
{
    color: #a5a6a6;
    text-decoration: underline;
}

a:hover.grey
{
    color: #a5a6a6;
    text-decoration: none;
}
.popupdivsmall
{
    background-color: #ffffff;
    border: solid 1px #216ba8;
    width: 350px;
    display: block;
    text-align: left;
    z-index: 100;
}

.popupdivsmall1
{
    background-color: #f5f5f5;
    border: solid 1px #216ba8;
    width: 275px;
    display: block;
    text-align: left;
    z-index: 100;
}

.ModalPopupButton
{
    background-color: #015B8F;
    vertical-align: middle;
    text-align: center;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    padding: 1px 2px 1px 5px;
}
.ModalPopupTd
{
    padding-top: 10px;
    text-align: center;
    font-size: 11px;
}

.hidelbl
{
    display: none;
}
.modalpopup
{
    font-family: arial,helvetica,clean,sans-serif;
    font-size: small;
    padding: 2px 3px;
    display: block;
    position: absolute;
}

.popupcontainer
{
    border-color: #3a4d1a;
    border-width: 1px 1px 1px 1px;
}
.popupheader
{
    /*background: url(../../images/sprite.png) repeat-x 0px -200px;	*/
    background-color: #3a4d1a;
    color: #ffffff;
    border-color: #3a4d1a #3a4d1a #3a4d1a #3a4d1a;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 3px 10px;
}
/*
.popupheader .msg
{
    font-weight: bold;
}         
.popupbody .msg
{
    background: url(../img/sprite.png) no-repeat 0px -2000px;	
    float: left;
    padding-left: 22px;
}  
*/
.popupfooter
{
    background-color: #dce3d0; /*border-color: #1c4b77;     border-style: none solid;     border-width: 0px 1px 1px 1px;*/
    border-bottom: 1px solid #3a4d1a;
    border-left: 1px solid #3a4d1a;
    border-right: 1px solid #3a4d1a;
    text-align: right;
    padding-bottom: 8px;
    padding-right: 8px;
}
.popupfooter1
{
    background-color: #dce3d0; /*border-color: #1c4b77;     border-style: none solid;     border-width: 0px 1px 1px 1px;*/
    border-bottom: 1px solid #3a4d1a;
    border-left: 1px solid #3a4d1a;
    border-right: 1px solid #3a4d1a;
    text-align: center;
    padding-bottom: 8px;
    padding-right: 8px;
}

.popupdiv
{
    background-color: #006599;
    border: solid 0.5px #006599;
    width: 230px;
    display: block;
    text-align: left;
    z-index: 100;
}

.messagebig
{
    font-family: Tahoma;
    font-size: 14px;
}

/*
.popupbody
{
    background-color:white;
    border-color: #3a4d1a;
    border-style: solid;
    border-width: 0px 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
} 
*/
/* pop up div*/
/* START Validate call out Style*/
.ajax__validatorcallout div, .ajax__validatorcallout td
{
    border: solid 1px #6a6a6a;
    background-color: #8CB1DE;
    color: #8CB1DE;
}
.ajax__validatorcallout .ajax__validatorcallout_error_message_cell
{
    font-family: Verdana;
    font-size: 10px;
    padding: 5px;
    border-right: none;
    border-left: none;
    color: White;
    border-top: 1px solid #8CB1DE;
    border-bottom: 1px solid #8CB1DE;
    background-color: #8CB1DE;
    width: 100%;
}
.ajax__validatorcallout .ajax__validatorcallout_close_button_cell
{
    vertical-align: top;
    padding: 0px;
    text-align: right;
    border-left: none;
    background-color: #8CB1DE;
    border-top: 1px solid #8CB1DE;
    border-bottom: 1px solid #8CB1DE;
    border-right: 1px solid #8CB1DE;
}
.ajax__validatorcallout .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv
{
    border: none;
    text-align: center;
    width: 10px;
    padding: 2px;
    cursor: pointer;
    background-color: #8CB1DE;
}
.ajax__validatorcallout .ajax__validatorcallout_icon_cell
{
    width: 20px;
    padding: 5px;
    border-left: 1px solid #8CB1DE;
    border-top: 1px solid #8CB1DE;
    border-bottom: 1px solid #8CB1DE;
    background-color: #8CB1DE;
}
.ajax__validatorcallout .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div
{
    height: 1px;
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 0px;
    border-left: 1px solid #8CB1DE;
    margin-left: auto;
    background-color: #8CB1DE;
}
.ajax__validatorcallout .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv
{
    font-size: 1px;
    position: relative;
    left: 1px;
    border-top: 1px solid #8CB1DE;
    border-right: none;
    border-left: none;
    width: 15px;
    background-color: transparent;
    padding: 0px;
}
/* end of coding */

/*Accordion*/

.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background: url(../images/expand_blue.png) no-repeat right;
    background-color: #2E4D7B;
    font-family: Tahoma, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 4px 4px 7px;
    margin-top: 5px;
    cursor: pointer;
}
.ContentHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4D7B;
    font-family: Tahoma, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 4px 4px 7px;
    margin-top: 5px;
}


.Header
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4D7B;
    font-family: Tahoma, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 4px 4px 7px;
    width: 100%;
    vertical-align: top;
}

.Messageheading
{
    padding: 6px 5px 6px 10px;
    background-color: #2E4D7B;
    border-bottom: 1px solid #2E4D7B;
    border-right: 0px solid #2E4D7B;
    font: bold 11px Arial, Helvetica, sans-serif, Tahoma;
    color: white;
}

.accordionHeader a
{
    color: white;
    background: none;
    text-decoration: none;
}

.accordionHeader a:hover
{
    background: none;
    text-decoration: none;
}

.accordionLink
{
    color: white;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.accordionHeaderSelected
{
    border: 1px solid #005785;
    color: white;
    background: url(../images/collapse_blue.png) no-repeat right 5px;
    background-color: #5078B3;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 4px 4px 7px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
}

.even_brd
{
    border-bottom: #cccccc 1px dotted;
    border-top: #cccccc 1px dotted;
    border-left: #cccccc 1px dotted;
    border-right: #cccccc 1px dotted;
    padding: 4px 4px 4px 7px;
}
.left_border
{
    padding-left: 5px;
}
.left_borderView
{
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 0px;
}
.keyleft_border
{
    padding-left: 20px;
}
.style1
{
    height: 1px;
    width: 100px;
}
.paddingright
{
    display: block;
    padding-left: 25px; /*border-left:1px solid #3a4d1a; 			border-right:1px solid #3a4d1a;*/
}
.line
{
    height: 1px;
    width: 100px;
}

/*############*/

.radiobtn
{
    vertical-align: top;
}

/*############*/

.right
{
    padding-left: 10px;
    padding-right: 10px;
}

.emptytdheight
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.thankstxt
{
    font: bold 11px tahoma;
    color: #FFFFFF;
    background-color: #2672b8;
    padding: 10px;
}
.cell1
{
    width: 3%;
    font-family: tahoma;
    font-size: 12px;
}
.cell2
{
    width: 76%;
    font-family: tahoma;
    font-size: 12px;
}
.cell3
{
    width: 16%;
    font-family: tahoma;
    font-size: 12px;
}
.sresublist li
{
    list-style-type: katakana-iroha;
    line-height: 17px;
    font-family: Tahoma;
    font-size: 12px;
}

.sresublist2
{
    /*list-style-type: katakana-iroha;*/
    font-family: Tahoma;
    font-size: 12px;
    margin: 15px;
}
.riskCell
{
    text-align: right;
    vertical-align: middle;
    padding-right: 5px;
}
.riskCaption
{
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
}

img
{
    border: 0px;
}
/*Sooraj Modified*/

.checkboxthreeColumn label
{
    display: block;
    vertical-align: middle;
    float: left;
    padding-right: 10px;
    width: 162px;
    padding-bottom: 10px;
}

.checkboxthreeColumn input
{
    float: left;
    width: 20px;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 10px;
}
.checkboxthreeColumn label span
{
    vertical-align: middle;
}

.regionCell
{
    vertical-align: top;
    background-color: #dfdfdf;
    padding: 3px 0px 5px 12px;
}
.regionCell span
{
    width: 200px;
}
.regionCellText
{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: normal;
    padding-left: 30px;
}



.Safetytextbold
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 7px;
}
.regionTableBorderBottom
{
    border-bottom: 4px solid #fff;
    display: block;
    width: 100% !important;
}
.regionFont
{
    font-size: 11px;
    color: black;
    font-family: Tahoma;
    font-weight: normal;
}
.regionTableCell
{
    background: #DFDFDF;
    padding: 5px 0px 5px 0px;
}
.regionHeaderHidden
{
    display: none;
}
.regionCountry
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #efefef;
    width: 99%;
}

.regionCountrySearch
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #efefef;
    width: 99%;
}
.spnState
{
    padding-left: 70px;
}
.spnState2
{
    padding-left: 65px;
}
.spnState1
{
    padding-left: 80px;
}
.ddlboxState
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    width: 100px;
}
.ddlboxState1
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    width: 90px;
}
.ddlboxCountry
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    width: 150px;
}
.ddlboxCountry1
{
    font-family: Tahoma;
    font-size: 11px;
    color: Black;
    width: 130px;
}
.phoneLabel
{
    font-family: Tahoma;
    font-size: 11px;
    color: #000;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.txtboxstate
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    width: 90px;
    color: Black;
    padding-left: 2px;
}
.txtboxstatesmall
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    width: 80px;
    color: Black;
    padding-left: 2px;
}
.txtboxmediumfax
{
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
    width: 98px;
    color: Black;
    padding-left: 2px;
}
.txtboxarea
{
    font-family: Tahoma;
    font-size: 11px;
    color: black;
    padding-left: 2px;
    width: 350px !important;
    height: 75px !important;
}
​