﻿
#PRINTBUYER,#CLOSEBUYER,#PRINTSELLER,#CLOSESELLER,#PRINTREALTOR,#CLOSEREALTOR,#PRINTINS,#CLOSEINS,#lnkprint,#lnkback,
#PRINTINS1,#CLOSEINS1,#lnkclosetop,#lnkprinttop
{
	visibility:hidden;
}

  #tdRoof, #tdPlumb, #tdElec, #tdHvac, #tdOther
  {
  	height:750px;
  }     
      

  #tdCoverPg 
{
	height:725px;	
}
 #tdSign
 {
 	height:737px;
 }

#tdExt 
{
	height:728px;	
}
#tdCoverLtr
{
	height:750px;	
}
#tdGI3
{
	height:740px;
	background-color:#E0E6F3;	
}
#tdNote
{
	display:none;
	}
#tdGI3
{
	height:741px;
	background-color:#E0E6F3;	
}
#tdGI4, #tdGI5,#tdRS2,#tdRS3,#tdRS4, #tdRS5, #tdPS2,#tdPS3,#tdPS4,#tdES2,#tdHS2, #tdHS3,#tdIF2,#tdES3
{
	height:740px;
	background-color:#E0E6F3;
}
#tdGenInfo 
{
	height:735px;	
	background-color:#E0E6F3;	
}
#tdGI1, #tdRS1, #tdPS1, #tdES1,#tdHS1, #tdDA,#tdIF1, #tdGI2
{
	height:735px;
	background-color:#E0E6F3;
	
}
 body 
 {
	
	 background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
            margin-top:0px;

	
}


