﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LegalFinancialView.aspx.cs"
    Inherits="VQFView_LegalFinancialView" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Haskell</title>
    <script language="javascript" type="text/javascript">
        window.onerror = ErrHndl;

        function ErrHndl()
        { return true; }
    </script>
    <link href="../css/Haskell.css" rel="stylesheet" type="text/css" />
    <script src="../Script/jquery.js" type="text/javascript"></script>
    <script src="../Script/common.js" type="text/javascript"></script>
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache">
    <script language="javascript" type="text/javascript">
        window.history.go(1);        
    </script>
    <script language="javascript" type="text/javascript">
        function printPartOfPage() {
            var printWindow = window.open('../Admin/VQFView.aspx?act=print&user=<%=Request.QueryString["user"] %>', '', 'left=50000,top=50000,width=0,height=0');
            printWindow.focus();
            printWindow.print();
        }
        function printPartOfPageFromMatch() {
            var printWindow = window.open('../Admin/VQFView.aspx?act=print&user=<%=Request.QueryString["user"] %>&Match=match', '', 'left=50000,top=50000,width=0,height=0');
            printWindow.focus();
            printWindow.print();
        }
    </script>
    <style type="text/css">
        body
        {
            font-family: Arial;
            font-size: 11px;
            color: #333333;
            background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
            margin-top: 0px;
        }
    </style>
    <style media="print">
        .hide_print
        {
            display: none;
        }
    </style>
</head>
<body onload="ResetScrollPosition();">
    <form id="form1" runat="server" defaultbutton="imgPDF">
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>
    <table cellpadding="0" cellspacing="0" width="660px" border="0" align="center">
        <tr>
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td >
                            <Haskell:TopMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td class="bodytextboldHead left_borderView">
                            <asp:Label ID="lblVendorName" runat="server"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="contenttdview">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <Haskell:VQFViewMenu ID="VQFViewMenu" runat="server" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;&nbsp;
                                                    </td>
                                                </tr>
                                            <tr>
                                                            <td class="formhead">
                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td width="50%">
                                                                            Vendor Qualification Form - Legal & Financial
                                                                        </td>
                                                                        <td width="50%">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                              </tr>
                                                        <tr>
                                                            <td class="tdheight">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdheight">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div id="LegalDiv" runat="server">
                                                                    <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%" class="searchtableclass">
                                                                        <tr>
                                                                            <td class="searchhdrbarbold" colspan="2">
                                                                                Legal
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table cellpadding="0" cellspacing="1" border="0" width="100%">
                                                                                    <tr>
                                                                                        <td class="bodytextleft left_border" colspan="2">
                                                                                            <div class="bodytextbold">
                                                                                                Have you failed to complete awarded work or been terminated for cause?<br /></div>
                                                                                            <div class="bodytextleftView">
                                                                                                <asp:Label ID="lblListOne" runat="server" Width="100%" ></asp:Label></div>
                                                                                        </td>
                                                                                        <%--<td class="bodytextleftView">
                                                                                            <asp:Label ID="lblListOne" runat="server"></asp:Label>&nbsp;
                                                                                        </td>--%>
                                                                                    </tr>
                                                                                    <tr id="trWorkAwdOne" runat="server" style="display: none">
                                                                                        <td colspan="2">
                                                                                                <table width="100%">
                                                                                                    <tr>
                                                                                                        <td class="bodytextleft left_border" valign="top" colspan="2">
                                                                                                            <div class="bodytextbold">
                                                                                                                If Yes, Please Explain:<br /></div>
                                                                                                            
                                                                                                            <div class="bodytextleftView">
                                                                                                                <asp:Label ID="txtWorkAwd" runat="server" Width="100%"></asp:Label>
                                                                                                            </div>

                                                                                                        </td>
                                                                                                        <%--<td class="bodytextleftView">
                                                                                                            
                                                                                                        </td>--%>
                                                                                                    </tr>
                                                                                                </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tr>
                                                                                        <td class="bodytextleft left_border" colspan="2">
                                                                                            <div class="bodytextbold">Is your company or any of its Owners, Officers or Major Stockholders
                                                                                                currently involved in any arbitration, litigation, suits or liens?<br />
                                                                                            </div>
                                                                                            <div class="bodytextleftView">
                                                                                                <asp:Label ID="lblListTwo" runat="server" Width="100%"></asp:Label>
                                                                                            </div>
                                                                                        </td>
                                                                                        <%--<td class="bodytextleftView" width="22%">
                                                                                            
                                                                                        </td>--%>
                                                                                    </tr>
                                                                                    <tr id="trStock" runat="server" style="display: none">
                                                                                        <td colspan="2">
                                                                                                <table width="100%">
                                                                                                    <tr>
                                                                                                        <td class="bodytextleft left_border" valign="top" colspan="2">
                                                                                                            <div class="bodytextbold">
                                                                                                                If Yes, Please Explain:<br /></div>
                                                                                                            <div class="bodytextleftView">
                                                                                                            <asp:Label ID="txtStake" onFocus="javascript:textCounter(this,150,'yes');"
                                                                                                                onKeyDown="javascript:textCounter(this,150,'yes');" onKeyUp="javascript:textCounter(this,150,'yes');"
                                                                                                                TextMode="MultiLine" runat="server" Width="100%"></asp:Label>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <%--<td class="bodytextleftView">
                                                                                                            
                                                                                                        </td>--%>
                                                                                                    </tr>
                                                                                                </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tr>
                                                                                        <td class="bodytextleft left_border" colspan="2">
                                                                                            <div class="bodytextbold">Has the company had any judgments, bankruptcies or reorganizations?<br /></div>
                                                                                            <div class="bodytextleftView">
                                                                                                <asp:Label ID="lblListThree" runat="server" Width="100%"></asp:Label></div>
                                                                                        </td>
                                                                                        <%--<td class="bodytextleftView" width="55%">
                                                                                            
                                                                                        </td>--%>
                                                                                    </tr>
                                                                                    <tr id="trBankruptcy" runat="server" style="display: none">
                                                                                        <td colspan="2">
                                                                                                <table width="100%">
                                                                                                    <tr>
                                                                                                        <td class="bodytextleft left_border" valign="top" colspan="2">
                                                                                                            <div class="bodytextbold">If Yes, Please Explain:<br /></div>
                                                                                                            <div class="bodytextleftView">
                                                                                                                <asp:Label ID="txtBankruptcy" TextMode="MultiLine" runat="server" Width="100%"></asp:Label></div>
                                                                                                        </td>
                                                                                                        <%--<td class="bodytextleftView">
                                                                                                            
                                                                                                        </td>--%>
                                                                                                    </tr>
                                                                                                </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tr>
                                                                                        <td class="bodytextleft left_border" colspan="2">
                                                                                            <div class="bodytextbold">Have any of the Owner, Officers or Major Stockholders of your company ever been
                                                                                            indicted or convicted of felony or other criminal conduct?<br />
                                                                                            </div>
                                                                                            <div class="bodytextleftView">
                                                                                                <asp:Label ID="lblListFour" runat="server" Width="100%">                                                                                         
                                                                                                </asp:Label>
                                                                                            </div>
                                                                                        </td>
                                                                                        <%--<td class="bodytextleftView">
                                                                                            
                                                                                        </td>--%>
                                                                                    </tr>
                                                                                    <tr id="trConviction" runat="server" style="display: none">
                                                                                        <td colspan="2">
                                                                                            <span>
                                                                                                <table width="100%">
                                                                                                    <tr>
                                                                                                        <td class="bodytextleft left_border" valign="top" colspan="2">
                                                                                                            <div class="bodytextbold">
                                                                                                            If Yes, Please Explain:<br /></div>
                                                                                                            <div class="bodytextleftView">
                                                                                                                <asp:Label ID="txtRisk" TextMode="MultiLine" runat="server" Width="100%"></asp:Label>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <%--<td class="bodytextleftView">
                                                                                                            
                                                                                                        </td>--%>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%" class="searchtableclass">
                                                                        <tr>
                                                                            <td class="searchhdrbarbold">
                                                                                Financial
                                                                            </td>
                                                                        </tr>
                                                                        <%--G. Vera 04/11/2016: Added row below HDT # 31519--%>
                                                                        <tr>
                                                                        <td colspan="4" class="left_border formtdbold_rt">
                                                                            Please be advised that Haskell and its affiliates will require your most current Financial Statements (preferably audited) 
                                                                            for consideration of award on all contracts estimated at $500,000.00 and greater. 
                                                                            Financial Statements can be e-mailed directly to <a href='<%="mailto://Prequal@haskell.com?subject=Financial Statements for " + this.lblVendorName.Text %>'>Prequal@haskell.com</a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="formtdbold_rt sectionpad">
                                                                                List data for the three most recent completed fiscal years
                                                                            </td>
                                                                        </tr>
                                                                        <tr id="tdFinancialData" runat="server" style="display: none;">
                                                                            <td>
                                                                                <table width="100%">
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                            Year One:
                                                                                        </td>
                                                                                        <td class="bodytextleftView" width="60%">
                                                                                            <asp:Label ID="lblFinancialYear1" runat="server"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            N/A:
                                                                                        </td>
                                                                                        <td class="bodytextleftViewv">
                                                                                            <asp:CheckBox ID="chkYear1" runat="server" Enabled="false" />
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Please explain for N/A:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Maximum Contract Value Completed $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Annual Company Revenue $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Year Two:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            <asp:Label ID="lblFinancialYear2" runat="server"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            N/A:
                                                                                        </td>
                                                                                        <td class="bodytextleftViewv">
                                                                                            <asp:CheckBox ID="chkNA2" runat="server" Enabled="false" />
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Please explain for N/A:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Maximum Contract Value Completed $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Annual Company Revenue $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Year Three:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            <asp:Label ID="lblFinancialYear3" runat="server"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            N/A:
                                                                                        </td>
                                                                                        <td class="bodytextleftViewv">
                                                                                            <asp:CheckBox ID="chkNA3" runat="server" Enabled="false" />
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Please explain for N/A:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Maximum Contract Value Completed $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Annual Company Revenue $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="sectionpad">
                                                                                <table width="100%">
                                                                                    <tr id="tblFinancial" runat="server" style="display: none;">
                                                                                        <td class="bodytextbold" width="15%">
                                                                                            Year
                                                                                        </td>
                                                                                        <td class="bodytextbold_rightv" width="5%">
                                                                                            N/A
                                                                                        </td>
                                                                                        <td class="bodytextbold" width="35%">
                                                                                            Maximum Contract Value Completed $
                                                                                        </td>
                                                                                        <td class="bodytextbold" width="45%">
                                                                                            Annual Company Revenue $
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="4">
                                                                                            <asp:Repeater ID="rptFinancial" runat="server" OnItemDataBound="rptFinancial_ItemDataBound">
                                                                                                <HeaderTemplate>
                                                                                                    <table width="100%" border="0" cellpadding="0" cellspacing="2" width="100%">
                                                                                                </HeaderTemplate>
                                                                                                <ItemTemplate>
                                                                                                    <tr>
                                                                                                        <td class="bodytextleftView" width="15%">
                                                                                                            <%# Eval("Year")%>
                                                                                                        </td>
                                                                                                        <td class="bodytextbold_rightv" width="5%" id="tdFinanceNA" runat="server">
                                                                                                            <asp:CheckBox ID="chkFinancialNA" runat="server" Enabled="false" Checked='<%#Convert.ToBoolean(Eval("NotAvailable"))%>' />
                                                                                                        </td>
                                                                                                        <td class="bodytextleftView" width="35%">
                                                                                                            &nbsp;
                                                                                                            <asp:Label ID="lblContractValue" runat="server" Text='<%# Eval("ContractValue") %>'></asp:Label>
                                                                                                        </td>
                                                                                                        <td class="bodytextleftView" width="45%">
                                                                                                            &nbsp;
                                                                                                            <asp:Label ID="lblAnnualRevenue" runat="server" Text='<%# Eval("AnnualRevenue") %>'></asp:Label>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr id="trExplain" runat="server">
                                                                                                        <td colspan="4">
                                                                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                                <tr>
                                                                                                                    <td class="bodytextbold" width="135px">
                                                                                                                        Please Explain For N/A:
                                                                                                                    </td>
                                                                                                                    <td class="bodytextleftView">
                                                                                                                        <%# Eval("Explanation")%>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </ItemTemplate>
                                                                                                <FooterTemplate>
                                                                                                    </table></FooterTemplate>
                                                                                            </asp:Repeater>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%">
                                                                                    <tr>
                                                                                        <td width="40%" class="bodytextbold_rightv">
                                                                                            Current Year Projected Revenue $:
                                                                                        </td>
                                                                                        <td width="60%" class="bodytextleftView">
                                                                                            <asp:Label ID="lblProjectRevenue" runat="server" CssClass="txtbox"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Current Total Backlog $:
                                                                                        </td>
                                                                                        <td class="bodytextleftView">
                                                                                            <asp:Label ID="lblTotalBackLog" runat="server" CssClass="txtbox"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                &nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%" class="searchtableclass">
                                                                        <tr>
                                                                            <td class="searchhdrbarbold">
                                                                                Banking
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="left_border formtdbold_rt">
                                                                                Banking References
                                                                            </td>
                                                                        </tr>
                                                                        <%-- 003- Sooraj--%>
                                                                        <%--G. Vera - added ID and display attribute as Sooraj missed this here--%>
                                                                        <tr >
                                                                            <td >
                                                                                <table cellpadding="0" cellspacing="1" border="0" width="100%" id="trDenominateinDollar"
                                                                                    runat="server" style="display: none">
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                            Base Currency:&nbsp;</td>
                                                                                        <td class="bodytextleftView" width="11%">
                                                                                            <asp:Label ID="lblBaseCurrency" runat="server"></asp:Label>&nbsp;
                                                                                        </td>
                                                                                        <td class="bodytextbold_rightv" width="19%">
                                                                                            Denominate in US Dollars ?
                                                                                        </td>
                                                                                        <td class="bodytextleftView" width="29%">
                                                                                            <asp:Label ID="lblDenominate" runat="server"></asp:Label>&nbsp;
                                                                                        </td>
                                                                                        <td>&nbsp;</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr id="tdBankingData" runat="server" style="display: none;">
                                                                            <td>
                                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 0 2px 0 0">
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                            Financial Institution:&nbsp;
                                                                                        </td>
                                                                                        <td class="bodytextleftView" width="60%" colspan="3">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Established Line of Credit?
                                                                                        </td>
                                                                                        <td width="60%" class="bodytextleftView"  colspan="3">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Contact Name:
                                                                                        </td>
                                                                                        <td width="60%" class="bodytextleftView"  colspan="3">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Contact Phone Number:
                                                                                        </td>
                                                                                        <td class="bodytextleftView"  colspan="3">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="bodytextbold_rightv">
                                                                                            Address:
                                                                                        </td>
                                                                                        <td class="bodytextleftView" width="30%">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                        <td class="bodytextbold_rightv" width="5%">
                                                                                            City:
                                                                                        </td>
                                                                                        <td width="25%" class="bodytextleftView">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="4">
                                                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                                                <tr>
                                                                                                    <td class="bodytextbold_rightv" width="40%">
                                                                                                      &nbsp; Country:
                                                                                                    </td>
                                                                                                    <td width="18%" class="bodytextleftView">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="bodytextbold_rightv" width="6%">
                                                                                                        State:
                                                                                                    </td>
                                                                                                    <td width="14%" class="bodytextleftView">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                    <td class="bodytextbold_rightv" width="12%">
                                                                                                        ZIP/Postal Code:
                                                                                                    </td>
                                                                                                    <td width="10%" class="bodytextleftView">
                                                                                                        &nbsp;
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" colspan="4" style="border-bottom: 1px solid #cccccc">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <asp:Repeater ID="rptBanking" runat="server" OnItemDataBound="rptBanking_ItemDataBound">
                                                                                    <HeaderTemplate>
                                                                                    </HeaderTemplate>
                                                                                    <ItemTemplate>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%">
                                                                                                    <tr>
                                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                                            Financial Institution:
                                                                                                        </td>
                                                                                                        <td class="bodytextleftView" width="60%"  colspan="3">
                                                                                                            <%# Eval("FinancialInstitution") %>&nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                                            Established Line of Credit?
                                                                                                        </td>
                                                                                                        <td width="60%" class="bodytextleftView"  colspan="3">
                                                                                                            <asp:Label ID="lblCredit" runat="server" Text='<%# Eval("Credit") %>'></asp:Label>&nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                                            Contact Name:
                                                                                                        </td>
                                                                                                        <td width="60%" class="bodytextleftView"  colspan="3">
                                                                                                            <%# Eval("ContactName") %>&nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                                            Contact Phone Number:
                                                                                                        </td>
                                                                                                        <td class="bodytextleftView" width="60%"  colspan="3">
                                                                                                            <asp:Label ID="lblPhone" runat="server" Text='<%# Eval("Phone") %>'></asp:Label>&nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="bodytextbold_rightv" width="40%">
                                                                                                            Address:
                                                                                                        </td>
                                                                                                        <td width="30%" class="bodytextleftView">
                                                                                                            <%# Eval("Address") %>&nbsp;
                                                                                                        </td>
                                                                                                         <td class="bodytextbold_rightv" width="5%" >
                                                                                                                        City:
                                                                                                                    </td>
                                                                                                                    <td width="25%" class="bodytextleftView">
                                                                                                                        <%#Eval("City") %>&nbsp;
                                                                                                                    </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td colspan="4">
                                                                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                                                                <tr>
                                                                                                                    <td class="bodytextbold_rightv" width="40%" style="padding-right:14px;">
                                                                                                                        &nbsp;Country:
                                                                                                                    </td>
                                                                                                                    <td width="20%" class="bodytextleftView">
                                                                                                                        <%#Eval("CountryName")%>&nbsp;
                                                                                                                    </td>
                                                                                                                    <td class="bodytextbold_rightv" width="5%">
                                                                                                                        State:
                                                                                                                    </td>
                                                                                                                    <td width="15%" class="bodytextleftView">
                                                                                                                        <asp:Label ID="lblState" runat="server" Text='<%#Eval("Fk_State") %>'></asp:Label>
                                                                                                                        <asp:Label ID="lblOtherState" runat="server" Text='<%# Eval("OtherState") %>'></asp:Label>&nbsp;
                                                                                                                    </td>
                                                                                                                    <td class="bodytextbold_rightv" width="12%">
                                                                                                                        ZIP/Postal Code:
                                                                                                                    </td>
                                                                                                                    <td width="15%" class="bodytextleftView">
                                                                                                                        <%#Eval("Zipcode") %>&nbsp;
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="100%" colspan="7" style="border-bottom: 1px solid #cccccc">
                                                                                                            &nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </ItemTemplate>
                                                                                    <FooterTemplate>
                                                                                    </FooterTemplate>
                                                                                </asp:Repeater>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdheight">
                                                            </td>
                                                        </tr>
<%--                                                </td>
                                            </tr>--%>
                                            <tr>
                                                <td class="bodytextcenter">
                                                    <span class="hide_print">
                                                        <img src="../Images/print.jpg" id="imgprint" runat="server" title="Print" onclick="JavaScript:printPartOfPage();"
                                                            class="CursorStyle" visible="false" />
                                                        <asp:ImageButton ID="imgPDF" runat="server" ImageUrl="~/Images/ex2pdf.jpg" OnClick="imgPDF_Click" />
                                                        <asp:HiddenField ID="hdVendorId" runat="server" />
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41184898-1', 'haskell.com');
        ga('send', 'pageview');

    </script>

</body>
</html>
