﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddCertification.aspx.cs" Inherits="Admin_AddCertification" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Haskell</title>
    <script language ="javascript" type="text/javascript">
        window.onerror = ErrHndl;

        function ErrHndl()
        { return true; }
    </script>
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache" />

    <script language="javascript" type="text/javascript">
        window.history.go(1);        
    </script>

    <link href="../css/Haskell.css" rel="Stylesheet" rev="Stylesheet" type="text/css" />

    <script src="../Script/jquery.js" type="text/javascript"></script>

    <style type="text/css">
        body 
        { 
            font-family: Arial;
            font-size: 11px;
            color: #333333;
            background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
              margin-top:0px;
        }
        .layer1
        {
            position: absolute;
            visibility: hidden;
            width: 400px;
            height: 200px;
            left: 20px;
            top: 300px;
            background-color: #efefef;
            border: solid 1px #3f3f3f;
        }
        .layer2
        {
            position: absolute;
            visibility: hidden;
            width: 300px;
            height: 110px;
            left: 20px;
            top: 300px;
            background-color: #efefef;
            border: solid 1px #3f3f3f;
        }
        .close
        {
            float: right;
        }
    </style>

    <script language="javascript" type="text/javascript">

        function setVisible(obj) {

            obj = document.getElementById(obj);
            var single = obj.childNodes;
            var elms = obj.getElementsByTagName("*");
            for (var i = 0, maxI = elms.length; i < maxI; ++i) {
                var elm = elms[i];

                switch (elm.type) {
                    case "text":
                        elm.value = "";
                }
            }

            obj.style.visibility = 'hidden';

        }
        
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>
    <table cellpadding="0" cellspacing="0" width="900px" border="0" align="center">
        <tr>
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <Haskell:TopMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr >
                                    <td class="leftmenutd">
                                        <Haskell:AdminMenu ID="AdminMenu" runat="server" />
                                    </td>
                                    <td class="contenttd">
                                     <Haskell:AdminMaintananceMenu ID="mnuMain" runat="server" />
                                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                      <tr><td class="tdheight"></td></tr>
                                        <tr>
                    <td align="right">
                    <asp:HyperLink ID= "hlCSICODES" CssClass="scopelink" NavigateUrl="~/Admin/AddScopes.aspx" Text="MasterFormat" runat="server"> </asp:HyperLink> | <asp:HyperLink ID= "hlAddcertification" CssClass="scopelink"  NavigateUrl="~/Admin/AddCertification.aspx" Text=" Company Certification" runat="server"></asp:HyperLink>
                    
                     |
                                                    <asp:HyperLink ID="hlVQfsnapshot" CssClass="scopelink" NavigateUrl="~/Admin/SnapshotHistory.aspx"
                                                        Text="VQF Snapshot History" runat="server"></asp:HyperLink>
                                                         |
                                                    <asp:HyperLink ID="hlSREsnapshot" CssClass="scopelink" NavigateUrl="~/Admin/TermsConditions.aspx"
                                                        Text="SRE Snapshot History" runat="server"></asp:HyperLink>
                                                        |
                                                    </td>
                    </tr>
                    </table>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                   
                                    <tr>
                                    <td>
                                      <asp:UpdatePanel ID="updPanel" runat="server">
                                            <ContentTemplate>
                                               <table width="100%" cellpadding="5" cellspacing="0" align="left">
                                               
                                               <tr>
                                               <td width="40%">
                                               <table width="100%" cellpadding="0" cellspacing="0"  align="left">
                                               <tr><td></td></tr>
                                               <tr id="trlnkAddCertification" style="display:''" runat="server"><td class="tdheight bodytextbold_right"> <asp:LinkButton ID="lnkAddCertification" CssClass="scopelink" runat="server" 
                                               
                                                        Text="Add Certification" onclick="lnkAddCertification_Click"></asp:LinkButton></td></tr>
                                                        <tr><td class="tdheight"></td></tr>
                                               <tr><td style="border: solid 1px #ccc;">
                                               
                                               <asp:GridView ID="grdCertification" runat="server" 
                                                       HeaderStyle-CssClass="grid_heading" Width="100%"
                                                                            BorderWidth="0px" CellSpacing="1" CellPadding="3" GridLines="None" 
                                                                            AutoGenerateColumns="False" 
                                                       onrowediting="grdCertification_RowEditing" 
                                                       DataKeyNames="Pk_CompanyCertificationID" 
                                                       onrowdeleting="grdCertification_RowDeleting">
                                                                            <RowStyle CssClass="listone" />
                                                                            <AlternatingRowStyle CssClass="listtwo" />
                                                                            <Columns>
                                                                                <asp:TemplateField HeaderText="Certifcation">
                                                                                   
                                                                                    <ItemTemplate>
                                                                                        <asp:Label ID="lblCertification" runat="server" Text='<%# Bind("Certification") %>'></asp:Label>
                                                                                       
                                                                                    </ItemTemplate>
                                                                                </asp:TemplateField>
                                                                                <asp:BoundField DataField="IsFederalSB" HeaderText="FederalSB" ReadOnly="True" />
                                                                                <asp:CommandField ShowEditButton="True"  ControlStyle-CssClass="scopelink">
                                                                                    <ControlStyle CssClass="scopelink" />
                                                                                </asp:CommandField>
                                                                                <asp:CommandField ShowDeleteButton="True"  ControlStyle-CssClass="scopelink">
                                                                                    <ControlStyle CssClass="scopelink" />
                                                                                </asp:CommandField>
                                                                            </Columns>
                                                                            <HeaderStyle CssClass="listheading" />
                                                                       
                                                                       
                                                                           
                                                                       
                                                                       
                                                                       </asp:GridView>
                                                </td></tr>
                                                </table>
                                                
                                                </td>
                                                <td valign="top" width="60%">
                                                <asp:HiddenField ID="hdnStatus" runat="server" />
                                                <table width="100%" cellpadding="2" cellspacing="0" >
                                                
                                                <tr><td class="tdheight"></td></tr>
                                                  <tr>
                                                <td height="100%" >
                                                <table width="100%" id="tblCertification" runat="server" cellpadding="5" cellspacing="0" style="border: solid 1px #ccc;display:none" >
                                                <tr>
                                                <td colspan="2" class=ContentHeader id="tdHeader" runat="server">
                                                Add Certification 
                                                </td></tr>
                                                <tr>
                                                <td class="tdheight"></td></tr>
                                                <tr>
                                                <td class="bodytextbold_right">
                                                    Company Certification:
                                                </td>
                                                <td class="bodytextleft">
                                                <asp:TextBox ID="txtCompanyCertification" runat="server" MaxLength="10"></asp:TextBox>
                                                <asp:RequiredFieldValidator ID="reqvtxtCompany" runat="server" ControlToValidate="txtCompanyCertification" Display="None"
                                                ErrorMessage="Please enter company certification" ValidationGroup="Certificate"></asp:RequiredFieldValidator>
                                                </td>
                                                </tr>
                                                  <tr>
                                                <td class="bodytextbold_right">
                                                    Is Federal SB?
                                                </td>
                                                <td class="bodytextleft">
                                                <asp:CheckBox ID="chkisFederalSb" runat="server"></asp:CheckBox>
                                                </td>
                                                </tr>
                                                <tr>
                                               
                                                <td colspan="2" align="center">
                                                <asp:ImageButton ID="imbSubmit" runat="server" ImageUrl="~/Images/submit.jpg"   CausesValidation="false"
                                                        onclick="imbSubmit_Click" ToolTip="Submit" />
                                                &nbsp;
                                                <asp:ImageButton ID="imbSubmitAddMore" runat="server" 
                                                        ImageUrl="~/Images/subnaddmore.jpg" onclick="imbSubmitAddMore_Click" CausesValidation="false" ToolTip="Submit And Add More" />
                                                &nbsp;
                                                <asp:ImageButton ID="imbClose" runat="server" ImageUrl="~/Images/close.jpg" CausesValidation="false" onclick="imbClose_Click" ToolTip="Close"
                                                      />
                                                </td></tr>
                                                <tr>
                                                <td class="tdheight"></td></tr>
                                                </table>
                                                </td>
                                                </tr>
                                                </table>
                                                </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                            <Ajax:ModalPopupExtender ID="modalExtnd" runat="server" TargetControlID="lblHidden"
                                                                PopupControlID="modalPopupDiv" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                                            </Ajax:ModalPopupExtender>
                                                            <asp:HiddenField ID="lblHidden" runat="server" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div id="modalPopupDiv" class="popupdiv" style="display: none">
                                                                <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                                    <tr>
                                                                        <td class="searchhdrbarbold" runat="server" id="msgTd">
                                                                            Result
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="tdheight popupdivcl">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="popupdivcl">
                                                                            <asp:Label ID="lblMsg" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="popupdivcl bodytextcenter">
                                                                            <input type="button" value="OK" title="Ok" class="ModalPopupButton" onclick="$find('modalExtnd').hide();" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="tdheight popupdivcl">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <Ajax:ModalPopupExtender ID="modalConfirm" runat="server" TargetControlID="hdnModal"
                                                                PopupControlID="modalDiv" BackgroundCssClass="popupbg" CancelControlID="imbCancel"
                                                                RepositionMode="RepositionOnWindowResize">
                                                            </Ajax:ModalPopupExtender>
                                                            <asp:HiddenField ID="hdnModal" runat="server" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div id="modalDiv" class="popupdiv" style="display: none">
                                                                <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                                    <tr>
                                                                        <td class="searchhdrbarbold" runat="server" id="Td3">
                                                                            Confirm
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="tdheight popupdivcl">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="popupdivcl">
                                                                            <asp:Label ID="lblConfirm" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="tdheight popupdivcl">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="popupdivcl bodytextcenter">
                                                                            <asp:ImageButton ID="imbOk" runat="server" ImageUrl="~/Images/ok.jpg" OnClick="imgOK_Click"
                                                                                ToolTip="Ok" />
                                                                            &nbsp;
                                                                            <asp:ImageButton ID="imbCancel" runat="server" ImageUrl="~/Images/cancel.jpg" ToolTip="Cancel" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="tdheight popupdivcl">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                               </table>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                    </td>
                                    </tr>
                                    </table>
                                       
                                                                      
                                      
                                    </td>
                                    
                                </tr>
                                
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41184898-1', 'haskell.com');
        ga('send', 'pageview');

    </script>

    <script language="javascript" type="text/javascript">
        function VisibleControls(invisiblectrl, visiblectrl, status) {
          
            document.getElementById(visiblectrl).style.display = "";
            document.getElementById(invisiblectrl).style.display = "None";
            document.getElementById('<%= hdnStatus.ClientID %>').value = status;
            document.getElementById('tdHeader').innerHTML = "Add Certifications";
            
            return true;
            
        }
    </script>
</body>
</html>
