﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DisplayRating.aspx.cs" Inherits="Admin_DisplayRating" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Haskell</title>
    <script language ="javascript" type="text/javascript">
          window.onerror = ErrHndl;

          function ErrHndl()
          { return true; }
    </script>
    <link href="../css/Haskell.css" rel="Stylesheet" />
    <link href="../images/StyleSheet.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache"/>

    <script language="javascript" type="text/javascript">
        window.history.go(1);        
    </script>

    <style type="text/css">
        body
        {
            font-family: Arial;
            font-size: 11px;
            color: #333333;
            background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
            margin-top:0px;
        }
    </style>

</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>
    <table cellpadding="0" cellspacing="0" width="900px" border="0" align="center">
        <tr>
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <Haskell:TopMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="leftmenutd">
                                        <Haskell:AdminMenu ID="AdminMenu" runat="server" Visible="true" />
                                    </td>
                                    <td class="contenttd">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <%-- G. Vera 08/04/2014: Changed to "Vendor"--%>
                                                <td class="formhead">
                                                    Vendor Rating
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <asp:UpdatePanel ID="udpDisplay" runat="server">
                                                        <ContentTemplate>
                                                            <table width="100%" cellpadding="5" cellspacing="0">
                                                                <tr>
                                                                    <td class="bodytextleft">
                                                                        <table width="100%">
                                                                            <tr>
                                                                                <td>
                                                                                    <asp:ImageButton ID="imbAddNew" runat="server" ImageUrl="~/Images/addnewrat.jpg"
                                                                                        OnClick="imbAddNew_Click" ToolTip="Add" />
                                                                                </td>
                                                                                <td class="bodytextbold_right">
                                                                                    <asp:ImageButton ID="ImbBack" runat="server" ImageUrl="~/Images/back.jpg" ToolTip="Back"
                                                                                        OnClick="imbBack_Click" />
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="bodytextnamebold" valign="middle">
                                                                        Vendor Name:
                                                                        <asp:Label ID="lblVendorName" runat="server"></asp:Label>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="bodytextcenter">
                                                                        <asp:Label ID="lblDisplayMsg" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Contenttd" runat="server">
                                                                        <table width="100%" cellpadding="3" cellspacing="0">
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="100%">
                                                                                        <tr>
                                                                                            <td class="bodytextleft" valign="middle">
                                                                                                Total Number Of Records:
                                                                                                <asp:Label ID="lblTotal" runat="server"></asp:Label>
                                                                                            </td>
                                                                                            <td>
                                                                                            </td>
                                                                                            <td>
                                                                                            </td>
                                                                                            <td class="bodytextright" valign="middle">
                                                                                                Number Of Records Per Page:
                                                                                            </td>
                                                                                            <td align="right" width="5%">
                                                                                                <asp:DropDownList ID="ddlNumber" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlNumber_SelectedIndexChanged"
                                                                                                    CssClass="ddlbox">
                                                                                                    <asp:ListItem>10</asp:ListItem>
                                                                                                    <asp:ListItem>20</asp:ListItem>
                                                                                                    <asp:ListItem>30</asp:ListItem>
                                                                                                    <asp:ListItem>40</asp:ListItem>
                                                                                                    <asp:ListItem>50</asp:ListItem>
                                                                                                    <%--Included by SGS as per issue 5--%>
                                                                                                    <asp:ListItem>100</asp:ListItem>
                                                                                                </asp:DropDownList>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <asp:GridView ID="grdVendor" runat="server" HeaderStyle-CssClass="grid_heading" Width="100%"
                                                                                        BorderWidth="0px" CellSpacing="1" CellPadding="5" GridLines="None" AutoGenerateColumns="False"
                                                                                        OnRowUpdating="grdVendor_RowUpdating" OnRowDeleting="grdVendor_RowDeleting" OnSelectedIndexChanging="grdVendor_SelectedIndexChanging"
                                                                                        OnRowDataBound="grdVendor_RowDataBound">
                                                                                        <RowStyle CssClass="listone" />
                                                                                        <AlternatingRowStyle CssClass="listtwo" />
                                                                                        <HeaderStyle CssClass="listheading" />
                                                                                        <Columns>
                                                                                            <asp:TemplateField HeaderText="Date" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <asp:Label ID="lbldate" runat="server" Text='<%# Bind("date") %>'></asp:Label>
                                                                                                    <asp:HiddenField ID="hdnRatingId" runat="server" Value='<%# Bind("Pk_RatingID") %>' />
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <asp:TemplateField HeaderText="Project Name" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <asp:Label ID="lblProjectName" runat="server" Text='<%# Bind("ProjectName") %>'></asp:Label>
                                                                                                    <asp:HiddenField ID="hdnEmployeeNumber" runat="server" Value='<%# Bind("EmployeeNumber") %>' />
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <asp:TemplateField HeaderText="Project Number" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <asp:Label ID="lblProjectNumber" runat="server" Text='<%# Bind("ProjectNumber") %>'></asp:Label>
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <asp:TemplateField HeaderText="Overall Performance<br> Rating" HeaderStyle-CssClass="gridpad"
                                                                                                ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <Ajax:Rating ID="ratOverallPerforamance" runat="server" CssClass="ratingStar" CurrentRating='<%# Convert.ToInt32(String.IsNullOrEmpty(Eval("OverallPerformance").ToString())?0:Eval("OverallPerformance")) %>'
                                                                                                        EmptyStarCssClass="Empty" FilledStarCssClass="Filled" MaxRating="5" ReadOnly="true"
                                                                                                        StarCssClass="ratingItem" WaitingStarCssClass="Saved">
                                                                                                    </Ajax:Rating>
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <asp:TemplateField HeaderText="Rater \ Group" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    &nbsp;
                                                                                                    <%--    <asp:DropDownList ID="DropDownList1" runat="server" CssClass="ddlbox">
                                                        <asp:ListItem>Rater1- ProjectManagement</asp:ListItem>
                                                        <asp:ListItem>Rater2- ProjectLeader</asp:ListItem>
                                                        <asp:ListItem>Rater3- Associate</asp:ListItem>
                                                        </asp:DropDownList>--%>
                                                                                                    <asp:Label ID="lblRaterGroup" runat="server" Text='<%# Bind("RaterGroup") %>' Width="200px"></asp:Label>
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <%-- <asp:TemplateField HeaderText="Project Manager" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center">                                                    
                                                    <ItemTemplate>
                                                        <asp:Label ID="abel7" runat="server" Text='<%# Bind("PM") %>'></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>--%>
                                                                                            <%-- <asp:TemplateField HeaderText="Date" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center">                                                   
                                                    <ItemTemplate>
                                                        <asp:Label ID="Label2" runat="server" Text='<%# Bind("Date") %>'></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>--%>
                                                                                            <asp:TemplateField HeaderText="View" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <asp:LinkButton ID="lnkSelect" runat="server" CausesValidation="False" CommandName="Select"
                                                                                                        ToolTip="View" Text="View" ForeColor="#003399"></asp:LinkButton>
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <asp:TemplateField HeaderText="Edit" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <asp:LinkButton ID="lnkEdit" runat="server" BorderStyle="None" ToolTip="Edit" ForeColor="#003399"
                                                                                                        CommandName="Update">Edit</asp:LinkButton>
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                            <asp:TemplateField HeaderText="Delete" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                <ItemTemplate>
                                                                                                    <asp:LinkButton ID="lnkDelete" runat="server" BorderStyle="None" ToolTip="Delete"
                                                                                                        ForeColor="#003399" CommandName="Delete">Delete</asp:LinkButton>
                                                                                                </ItemTemplate>
                                                                                            </asp:TemplateField>
                                                                                        </Columns>
                                                                                    </asp:GridView>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="tdheight">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="bodytextcenter">
                                                                                    Page&nbsp;&nbsp;<asp:ImageButton ID="imbPrevious" runat="server" ImageUrl="~/Images/pre.jpg"
                                                                                        OnClick="imbPrevious_Click" />
                                                                                    <asp:PlaceHolder ID="plcCrntPage" runat="server"></asp:PlaceHolder>
                                                                                    &nbsp;&nbsp;of&nbsp;
                                                                                    <asp:Label ID="lblTotalPage" runat="server"></asp:Label>
                                                                                    &nbsp;<asp:ImageButton ID="imbNext" runat="server" ImageUrl="~/Images/next1.jpg"
                                                                                        OnClick="imbNext_Click" />
                                                                                    <asp:HiddenField ID="hdnCount" runat="server" />
                                                                                    <asp:HiddenField ID="hdnPage" runat="server" />
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </ContentTemplate>
                                                    </asp:UpdatePanel>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd" runat="server" TargetControlID="lblHidden"
                                            PopupControlID="modalPopupDiv" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="lblHidden" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalPopupDiv" class="popupdiv" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="msgTd">
                                                        Result
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl">
                                                        <asp:Label ID="lblMsg" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl bodytextcenter">
                                                        <input type="button" value="OK" class="ModalPopupButton" onclick="$find('modalExtnd').hide();" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalConfirm" runat="server" TargetControlID="hdnModal"
                                            PopupControlID="modalDiv" BackgroundCssClass="popupbg" CancelControlID="imbCancel"
                                            RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="hdnModal" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalDiv" class="popupdiv" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="Td1">
                                                        Confirm
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl">
                                                        Are you sure you want to delete the record?
                                                        <%-- <asp:Label ID="lblConfirm" runat="server" CssClass="summaryerrormsg"></asp:Label>--%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl bodytextcenter">
                                                        <asp:ImageButton ID="imbOk" runat="server" ImageUrl="~/Images/ok.jpg" OnClick="imgOK_Click" />
                                                        &nbsp;
                                                        <asp:ImageButton ID="imbCancel" runat="server" ImageUrl="~/Images/cancel.jpg" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41184898-1', 'haskell.com');
        ga('send', 'pageview');

    </script>

</body>
</html>

<script language="javascript" type="text/javascript">
    function AssignValue(i) {
        var str = document.getElementById("<%= hdnPage.ClientID %>");
        str.value = i;
    }
</script>

