﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VendorMatch.aspx.cs" Inherits="Admin_VendorMatch" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Haskell</title>
    <script language="javascript" type="text/javascript">
        window.onerror = ErrHndl;

        function ErrHndl()
        { return true; }
    </script>
    <link href="../css/Haskell.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache">
    <script language="javascript" type="text/javascript">
        window.history.go(1);        
    </script>
    <style type="text/css">
        body
        {
            font-family: Arial;
            font-size: 11px;
            color: #333333;
            background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
            margin-top: 0px;
        }
    </style>
    <script language="javascript" type="text/javascript">
        function GetValue(i) {

            var str = document.getElementById("<%= hdnPage.ClientID %>");
            str.value = i;
        }
        //G. Vera - added
        function CheckAllVendorDetails(cbxCheckAll) {
            var grdView = document.getElementById("grdVendorDetails");
            var checkval = cbxCheckAll.checked;
            var rCount = grdView.rows.length;
            var rowIdx = 1;
            for (rowIdx; rowIdx <= rCount - 1; rowIdx++) {
                var rowElement = grdView.rows[rowIdx];
                var chkBox = rowElement.cells[0].childNodes[1];
                if (chkBox.attributes == null) chkBox = rowElement.cells[0].childNodes[0]; ;
                chkBox.checked = checkval;

            }
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>
    <table cellpadding="0" cellspacing="0" width="900px" border="0" align="center">
        <tr>
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <Haskell:TopMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="leftmenutd">
                                        <Haskell:AdminMenu ID="AdminMenu" runat="server" />
                                    </td>
                                    <td class="contenttd">
                                        <Haskell:AdminMaintananceMenu ID="mnuMain" runat="server" />
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="tdheight">
                                                    &nbsp;&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                    &nbsp;&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formhead">
                                                    Vendor Match
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight bodytextcenter">
                                                    <asp:Label ID="lblmsgInfo" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table align="center" border="0" cellpadding="3" id="tblVendor" runat="server" cellspacing="0"
                                                        width="100%">
                                                        <tr>
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td class="bodytextleft" valign="middle">
                                                                            Total Number Of Records:
                                                                            <asp:Label ID="lblTotal" runat="server"></asp:Label>
                                                                        </td>
                                                                        <td class="bodytextright" valign="middle">
                                                                            Number Of Records Per Page:
                                                                        </td>
                                                                        <td align="right" width="50px">
                                                                            <asp:DropDownList ID="ddlNumber" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlNumber_SelectedIndexChanged"
                                                                                Font-Size="11px" Font-Names="tahoma" Height="20px">
                                                                                <asp:ListItem>10</asp:ListItem>
                                                                                <asp:ListItem>20</asp:ListItem>
                                                                                <asp:ListItem>30</asp:ListItem>
                                                                                <asp:ListItem>40</asp:ListItem>
                                                                                <asp:ListItem>50</asp:ListItem>
                                                                                <%--Included by SGS as per issue 5--%>
                                                                                <asp:ListItem>100</asp:ListItem>
                                                                                <asp:ListItem>500</asp:ListItem>
                                                                            </asp:DropDownList>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top">
                                                                <asp:UpdatePanel ID="updPanel1" runat="server">
                                                                    <ContentTemplate>
                                                                        <asp:GridView ID="grdVendor" runat="server" HeaderStyle-CssClass="grid_heading" Width="100%"
                                                                            BorderWidth="0px" CellSpacing="1" CellPadding="5" GridLines="None" AutoGenerateColumns="False"
                                                                            OnRowDataBound="grdVendor_RowDataBound" OnSelectedIndexChanging="grdVendor_SelectedIndexChanging">
                                                                            <RowStyle CssClass="listone" />
                                                                            <AlternatingRowStyle CssClass="listtwo" />
                                                                            <HeaderStyle CssClass="listheading" />
                                                                            <Columns>
                                                                                <asp:TemplateField ItemStyle-HorizontalAlign="Center">
                                                                                    <EditItemTemplate>
                                                                                        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                                                                                    </EditItemTemplate>
                                                                                    <ItemTemplate>
                                                                                        <asp:RadioButton ID="rboVendor" runat="server" AutoPostBack="True" OnCheckedChanged="rboVendor_CheckedChanged" />
                                                                                        <asp:HiddenField ID="hdnVendorId" runat="server" Value='<%# Bind("PK_vendorID") %>' />
                                                                                        <asp:HiddenField ID="hdnVendorStatus" runat="server" Value='<%# Bind("VendorStatus") %>' /> <%--G. Vera 10/10/2017--%>
                                                                                    </ItemTemplate>
                                                                                </asp:TemplateField>
                                                                                <asp:TemplateField HeaderText="Vendor Name" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                    <EditItemTemplate>
                                                                                        <asp:TextBox ID="TextBox3" runat="server" Text='<%# Bind("Company") %>'></asp:TextBox>
                                                                                    </EditItemTemplate>
                                                                                    <ItemTemplate>
                                                                                        <asp:Label ID="lblCompany" runat="server" Text='<%# Bind("Company") %>'></asp:Label>
                                                                                    </ItemTemplate>
                                                                                </asp:TemplateField>
                                                                                <%--003-Sooraj--%>
                                                                                <asp:TemplateField HeaderText="Tax ID / Business ID " HeaderStyle-CssClass="gridpad"
                                                                                    ItemStyle-CssClass="gridpad">
                                                                                    <EditItemTemplate>
                                                                                        <asp:TextBox ID="TextBox2" runat="server" Text='<%# Bind("TaxID") %>'></asp:TextBox>
                                                                                    </EditItemTemplate>
                                                                                    <ItemTemplate>
                                                                 <asp:Label ID="lblTaxId" runat="server" Text='<%# Bind("TaxId") %>' ToolTip='<%# Bind("TaxID") %>'  ></asp:Label>
                                                                                        <asp:CheckBox ID="chkIsBasedInUS" Visible="false" runat="server" Checked='<%# Bind("IsBasedInUS") %>'>
                                                                                        </asp:CheckBox>
                                                                                    </ItemTemplate>
                                                                                </asp:TemplateField>
                                                                                <asp:TemplateField HeaderText="VQF" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                    <ItemTemplate>
                                                                                        <asp:LinkButton ID="lnkVQF" runat="server" CommandName="Select">VQF</asp:LinkButton>
                                                                                    </ItemTemplate>
                                                                                </asp:TemplateField>
                                                                            </Columns>
                                                                        </asp:GridView>
                                                                    </ContentTemplate>
                                                                </asp:UpdatePanel>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdheight">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytextcenter" valign="top">
                                                                Page&nbsp;&nbsp;<asp:ImageButton ID="imbPrevious" runat="server" ImageUrl="~/Images/pre.jpg"
                                                                    OnClick="imbPrevious_Click" />
                                                                <asp:PlaceHolder ID="plcCrntPage" runat="server"></asp:PlaceHolder>
                                                                &nbsp;&nbsp;of&nbsp;
                                                                <asp:Label ID="lblTotalPage" runat="server"></asp:Label>
                                                                &nbsp;<asp:ImageButton ID="imbNext" runat="server" ImageUrl="~/Images/next1.jpg"
                                                                    OnClick="imbNext_Click" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdheight">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytextcenter">
                                                                <asp:ImageButton ID="imbSearch" runat="server" ImageUrl="~/Images/search.jpg" OnClick="imbSearch_Click"
                                                                    ToolTip="Search" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="SpnVen1" runat="server" style="display: none">
                                                                    <table width="100%">
                                                                        <tr>
                                                                            <td>
                                                                                <asp:UpdatePanel ID="updPanel" runat="server">
                                                                                    <ContentTemplate>
                                                                                        <asp:GridView ID="grdVendorDetails" runat="server" AutoGenerateColumns="False" BorderWidth="0px"
                                                                                            CellPadding="5" CellSpacing="1" GridLines="None" OnRowDataBound="grdVendorDetails_RowDataBound"
                                                                                            Width="100%">
                                                                                            <RowStyle CssClass="listone" />
                                                                                            <AlternatingRowStyle CssClass="listtwo" />
                                                                                            <HeaderStyle CssClass="listheading" />
                                                                                            <Columns>
                                                                                                <asp:TemplateField ItemStyle-HorizontalAlign="Center">
                                                                                                    <%--G. Vera 08/03/2012:  VMS Stabilization Release 1.2 - added--%>
                                                                                                    <HeaderTemplate>
                                                                                                        <asp:CheckBox ID="chkSelectAll" runat="server" Enabled="true" onclick="Javascript:CheckAllVendorDetails(this)" />
                                                                                                    </HeaderTemplate>
                                                                                                    <ItemTemplate>
                                                                                                        <asp:CheckBox ID="chkVendorDetails" runat="server" />
                                                                                                        <asp:HiddenField ID="hdnJDEID" runat="server" Value='<%# Bind("PK_HaskellJDEId") %>' />
                                                                                                    </ItemTemplate>
                                                                                                    <HeaderStyle HorizontalAlign="Center" />
                                                                                                </asp:TemplateField>
                                                                                                <asp:TemplateField HeaderText="Vendor Name" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                    <ItemTemplate>
                                                                                                        <asp:Label ID="lblVendorName" runat="server" Text='<%# Bind("VendorName") %>'></asp:Label>
                                                                                                    </ItemTemplate>
                                                                                                </asp:TemplateField>
                                                                                                <asp:TemplateField HeaderText="Vendor Number" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                                    <ItemTemplate>
                                                                                                        <asp:Label ID="lblVendorNumber" runat="server" Text='<%# Bind("VendorNumber") %>'></asp:Label>
                                                                                                    </ItemTemplate>
                                                                                                </asp:TemplateField>
                                                                                                <asp:TemplateField HeaderText="Tax ID / Business ID" HeaderStyle-CssClass="gridpad"
                                                                                                    ItemStyle-CssClass="gridpad">
                                                                                                    <ItemTemplate>
                                                                                                        <asp:Label ID="lblTaxId" runat="server" Text='<%# Bind("TaxId") %>' ToolTip='<%# Bind("TaxID") %>'></asp:Label>
                                                                                                          <asp:CheckBox ID="chkIsBasedInUS" Visible="false" runat="server" Checked='<%# Bind("IsBasedInUS") %>'>
                                                                                        </asp:CheckBox>
                                                                                                    </ItemTemplate>
                                                                                                </asp:TemplateField>
                                                                                            </Columns>
                                                                                        </asp:GridView>
                                                                                    </ContentTemplate>
                                                                                </asp:UpdatePanel>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdheight">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="bodytextcenter" colspan="4">
                                                                                <asp:ImageButton ID="imgIgnore" runat="server" ToolTip="Ignore vendor number" ImageUrl="~/Images/ignore.jpg"
                                                                                    Visible="true" OnClick="imgIgnore_Click" />
                                                                                <asp:ImageButton ID="imbVendordetailsSubmit" runat="server" ToolTip="Submit" ImageUrl="~/Images/submit.jpg"
                                                                                    OnClick="imbVendordetailsSubmit_Click" />
                                                                                <asp:ImageButton ID="imbSubmitandnext" runat="server" ToolTip="Submit And Next" ImageUrl="~/Images/submitnnxt.jpg"
                                                                                    OnClick="imbSubmitandnext_Click" />
                                                                                <asp:ImageButton ID="imbReject1" runat="server" ImageUrl="~/Images/reject.jpg" ToolTip="Reject"
                                                                                    OnClick="imbReject_Click" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="SpnVen2" runat="server" style="display: none">
                                                                    <table width="100%" cellpadding="4" cellspacing="0">
                                                                        <tr>
                                                                            <td class="bodytextcenter" style="font-weight: bold">
                                                                                Please Accept or Reject
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="bodytextcenter">
                                                                                <asp:ImageButton ID="imbAccept" runat="server" ImageUrl="~/Images/accept.jpg" OnClick="imbAccept_Click" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                <asp:ImageButton ID="imbReject" runat="server" ImageUrl="~/Images/reject.jpg" OnClick="imbReject_Click" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                    <asp:HiddenField ID="hdnPage" runat="server" />
                                                    <asp:HiddenField ID="hdnCount" runat="server" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd" runat="server" TargetControlID="lblHidden"
                                            PopupControlID="modalPopupDiv" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="lblHidden" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalPopupDiv" class="popupspc" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="msgTd">
                                                        Message
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl">
                                                        <asp:Label ID="lblmsg" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ModalPopupTd">
                                                        <asp:ImageButton ID="imbOk" runat="server" ImageUrl="~/Images/ok.jpg" ToolTip="Ok"
                                                            OnClick="imbOk_Click" />
                                                        &nbsp;&nbsp;
                                                        <%--<asp:ImageButton ID="imbCancel" runat="server" ImageUrl="~/Images/cancel.jpg" 
                                                            ToolTip="Cancel" Visible="false" onclick="imbCancel_Click" />--%>
                                                        <%--G. Vera - Added cancel button--%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd2" runat="server" CancelControlID="imbNo"
                                            TargetControlID="hdnpopup" PopupControlID="divc" BackgroundCssClass="popupbg"
                                            RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="hdnpopup" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="divc" class="popupdiv" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="Td1">
                                                        Message
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl bodytextcenter">
                                                        &nbsp; &nbsp; Do you want to proceed with the next record?
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl bodytextcenter">
                                                        <asp:ImageButton ID="imbYes" runat="server" ImageUrl="~/Images/yes.jpg" OnClick="imbYes_Click"
                                                            ToolTip="Yes" />
                                                        <asp:ImageButton ID="imbNo" runat="server" ImageUrl="~/Images/no.jpg" ToolTip="No" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41184898-1', 'haskell.com');
        ga('send', 'pageview');

    </script>

</body>
</html>
