﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VendorMaintenance.aspx.cs" Inherits="VendorMaintenance" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Haskell</title>
    <script language ="javascript" type="text/javascript">
          window.onerror = ErrHndl;

          function ErrHndl()
          { return true; }
    </script>
    <link href="../images/StyleSheet.css" rel="stylesheet" type="text/css" />       <%--G. Vera 06/18/2012 - Added--%>
    <link href="../css/Haskell.css" rel="Stylesheet" rev="Stylesheet" type="text/css" />
    <script src="../Script/jquery.js" type="text/javascript"></script>

    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache" />
   

    <script language="javascript" type="text/javascript">
        window.history.go(1);        
            </script>   
        <style type="text/css">

body 
{
	font-family: Arial;
	font-size: 11px;
	color: #333333;
	background: url(../images/body_bg.png) repeat-x;
	background-color: #2672b8;
	  margin-top:0px;
}



            .style2
            {
                font-family: Tahoma;
                font-size: 11px;
                color: black;
                text-align: center;
                vertical-align:top;
                height: 30px;
            }



        </style>
</head>
<body>
    <form id="form1" runat="server" defaultbutton="imbSearch"  >
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>

<!--G. Vera 4/19/2012 - Edit vendor Number Phase 3 Enhancement
    Had to move this from Head tag to Body since I am using
    an Ajax Extender for the dropdown.
-->
<script type="text/javascript">

        // G. Vera 4/19/2012 - Edit vendor Number Phase 3 Enhancement
        function selectedVendorNos() {
            var txtSelectedValuesObj = document.getElementById('txtVendorNoData');
            var selObj = document.getElementById('ddlVendorNoData');
            var i;
            var count = 0;

            for (i = 0; i < selObj.options.length; i++) 
            {
                if (selObj.options[i].selected) 
                {
                    if (txtSelectedValuesObj.value == '') {

                        txtSelectedValuesObj.value = txtSelectedValuesObj.value + selObj.options[i].value;
                    }
                    else {
                        
                        var found = false;
                        var strArray = txtSelectedValuesObj.value.split(",");
                        
                        for (var a = 0; a < strArray.length; a++) {
                            var test = strArray[a];
                            if (test.trim() == selObj.options[i].value.trim()) {
                                found = true;
                                break;
                            }
                            //var found = txtSelectedValuesObj.value.indexOf(selObj.options[i].value);
                        }
                        
                        if (found == false) {
                                txtSelectedValuesObj.value = txtSelectedValuesObj.value + ', ' + selObj.options[i].value;
                        }
                    }
                }
                count++;
            }
        }


        function AssignValue() {
            document.getElementById("<%=hdnFlag.ClientID %>").value = "1";
        }
        
        function GetValue(i) {

            var str = document.getElementById("<%=hdnPage.ClientID %>");
            str.value = i;
        }
</script>	

 <table cellpadding="0" cellspacing="0" width="900px" border="0" align="center">
        <tr>
           
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <Haskell:TopMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="leftmenutd">
                                        <Haskell:AdminMenu ID="AdminMenu" runat="server" />
                                    </td>
                                    <td class="contenttd">
                                        <Haskell:AdminMaintananceMenu ID="mnuMain" runat="server" />
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                             <tr>
                                                        <td class="tdheight">
                                                            &nbsp;&nbsp;</td>
                                                    </tr>
                                                      <tr>
                                                        <td class="tdheight">
                                                            &nbsp;&nbsp;</td>
                                                    </tr>
                                            <tr>
                                                <td align="center">
                                                    
                                                            <table align="center" border="0" cellpadding="5" cellspacing="0" width="100%">
                                                            <tr>
                                                            <td>
                                                         <span id="spnserach" runat="server">
                                                                 <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="searchtableclass">
                                                                     <tr>
                                                                         <td colspan="2" class="searchhdrbarbold">
                                                                             Search Vendor
                                                                         </td>
                                                                     </tr>
                                                                     <tr><td colspan="2" class="bodytextcenter" >
                                                                     <asp:HiddenField ID="hdnFlag" runat="server" />
                                                                     <span id="spnvendorsearch" runat="server">
                                                                     <table border="0" cellpadding="0" cellspacing="0"  width="100%">
                                                                     <tr>
                                                                         <td height="15px" ></td>
                                                                         <td></td>
                                                                     </tr>
                                                                     <tr>
                                                                         <td class="formtdlt" width="40%" valign="top">
                                                                             Vendor Name
                                                                         </td>
                                                                         <td class="formtdrt">
                                                                             <asp:TextBox ID="txtVendorName" runat="server" CssClass="ajaxtxtbox" MaxLength="100"></asp:TextBox>
                                                                               <div id="listPlacement" style="height:100px; overflow:scroll;" ></div>
                                                                                <Ajax:AutoCompleteExtender ID="autoComplete1" runat="server" BehaviorID="AutoCompleteEx"
                                                                                   CompletionListElementID="listPlacement"                                                                                   
                                                                                    FirstRowSelected="True" MinimumPrefixLength="1" OnClientItemSelected=""
                                                                                     ServiceMethod="GetCompletionList"
                                                                                    ServicePath="~/AutoComplete.asmx" TargetControlID="txtVendorName">
                                                                                    <animations>
                                                            <OnShow>
                                                              <Sequence>
                                                                <%-- Make the completion list transparent and then show it --%>
                                                                <OpacityAction Opacity="0" />
                                                                <HideAction Visible="true" />
                                                            
                                                                 <%--Cache the original size of the completion list the first time
                                                                  the animation is played and then set it to zero --%>
                                                                  <ScriptAction Script="
                                                                // Cache the size and setup the initial size
                                                                var behavior = $find('AutoCompleteEx');
                                                                if (!behavior._height) {
                                                                    var target = behavior.get_completionList();
                                                                    behavior._height = target.offsetHeight - 2;
                                                                    target.style.height = '0px';
                                                                  }" />
                                                            
                                                            <%-- Expand from 0px to the appropriate size while fading in --%>
                                                                <Parallel Duration=".4">
                                                                <FadeIn />
                                                                <Length PropertyKey="height" StartValue="0" EndValueScript="$find('AutoCompleteEx')._height" />
                                                                </Parallel>
                                                                </Sequence>
                                                                 </OnShow>
                                                                  <OnHide>
                                                          <%-- Collapse down to 0px and fade out --%>
                                                                 <Parallel Duration=".4">
                                                                 <FadeOut />
                                                                 <Length PropertyKey="height" StartValueScript="$find('AutoCompleteEx')._height" EndValue="0" />
                                                                 </Parallel>
                                                                 </OnHide>
                                                                                                </animations>
                                                                                </Ajax:AutoCompleteExtender>
                                                                                            <asp:HiddenField ID="hdnMatch" runat="server" />
                                                                         </td>
                                                                     </tr>
                                                                     <tr>
                                                                         <td class="formtdlt">
                                                                             Vendor Number
                                                                         </td>
                                                                         <td class="formtdrt">
                                                                             <asp:TextBox ID="txtVendorNumber" runat="server" CssClass="txtbox" MaxLength="50"></asp:TextBox>
                                                                         </td>
                                                                     </tr>
                                                                     <tr>
                                                                         <td class="formtdlt">
                                                                             Federal Tax ID / Business ID
                                                                         </td>
                                                                         <td class="formtdrt">
                                                                            
                                                                             <asp:TextBox ID="txtTaxId2" runat="server" CssClass="txtbox" MaxLength="50"></asp:TextBox>
                                                                             <Ajax:FilteredTextBoxExtender ID="ftxtTaxId2" runat="server" FilterType="Numbers,UppercaseLetters, LowercaseLetters" TargetControlID="txtTaxId2"></Ajax:FilteredTextBoxExtender>
                                                                           
                                                                      <%--   <asp:CustomValidator ID="custValidator" runat="server" 
                                                                                 EnableClientScript="false" Display="None" SetFocusOnError="true" 
                                                                                 onservervalidate="custValidator_ServerValidate"></asp:CustomValidator>--%>

                                                                         </td>
                                                                     </tr>
                                                                      <tr id="spnvendorTracking" runat="server">
                                                                         <td class="formtdlt" >
                                                                             Tracking Number
                                                                         </td>
                                                                         <td class="formtdrt">
                                                                             <asp:TextBox ID="txtTrackingNumbrt" runat="server" CssClass="txtbox" MaxLength="50"></asp:TextBox>
                                                                         </td>
                                                                     </tr>
                                                                      <tr >
                                                                         <td class="formtdlt" >
                                                                             Status</td>
                                                                         <td class="formtdrt">
                                                                             <asp:DropDownList ID="ddlStatus" runat="server" CssClass="ddlbox" 
                                                                                 >
                                                                             
                                                                             </asp:DropDownList>
                                                                         </td>
                                                                     </tr>
                                                                     <tr>
                                                                     <td></td>
                                                                         <td class="formtdrt" >
                                                                             <asp:ImageButton ID="imbSearch" runat="server" ImageUrl="~/Images/search.jpg" 
                                                                                 onclick="imbSearch_Click" ToolTip="Search" />
                                                                         </td>
                                                                     </tr>
                                                                     </table>
                                                                     </span>
                                                                     </td></tr>
                                                                     
                                                                 </table>
                                                              </span>
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                            <td class="bodytextcenter">
                                                            <asp:Label ID="lbldisplaymsgInfo" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                            </td>
                                                            </tr>
                                                                     
                                                              <tr>
                                                              <td>
                                                                                                                    
                                                             <table width="100%"  cellpadding="3" cellspacing="0" id="tdContent" runat="server">
                                                              <tr>
                                                            <td>
                                                            <table width="100%">
                                                                            <tr>
                                                                                <td class="bodytextleft" valign="middle">
                                                                                    Total Number Of Records:
                                                                                    <asp:Label ID="lblTotal" runat="server"></asp:Label>
                                                                                </td>
                                                                                
                                                                                <td class="bodytextright" valign="middle">
                                                                                    Number Of Records Per Page:
                                                                                </td>
                                                                                <td align="right" width="5%">
                                                                                    <asp:DropDownList ID="ddlNumber" runat="server" AutoPostBack="True" 
                                                                                        onselectedindexchanged="ddlNumber_SelectedIndexChanged" CssClass="ddlbox" >
                                                                                        <asp:ListItem>10</asp:ListItem>
                                                                                        <asp:ListItem>20</asp:ListItem>
                                                                                        <asp:ListItem>30</asp:ListItem>
                                                                                        <asp:ListItem>40</asp:ListItem>
                                                                                        <asp:ListItem>50</asp:ListItem>
                                                                                        <%-- Included by SGS as Per Issue No 5--%>
                                                                                         <asp:ListItem>100</asp:ListItem>
                                                                                    </asp:DropDownList>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                            </td>
                                                            </tr>
                                                             <tr><td>
                                                               <%--Included by SGS as Per Issue No 1 sorting --%>
                                                             <asp:GridView ID="grdVendor" runat="server" HeaderStyle-CssClass="grid_heading" Width="100%"
                                                              BorderWidth="0px" CellSpacing="1" CellPadding="5"  AllowSorting="true" OnSorting="grdVendor_Sorting"
                                                              GridLines="None" AutoGenerateColumns="False" onrowdatabound="grdVendor_RowDataBound" 
                                                                     onselectedindexchanging="grdVendor_SelectedIndexChanging" 
                                                                     onrowcommand="grdVendor_RowCommand" >
                                            <RowStyle CssClass="listone" />
                                            <AlternatingRowStyle CssClass="listtwo" />
                                            <HeaderStyle CssClass="listheading" Wrap="True" />
                                            <Columns>
                                             <asp:TemplateField HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center" >                                                    
                                                    <HeaderTemplate>
                                                    <asp:CheckBox ID="chkSelectAll" runat="server" Visible="false" onclick="Javascript:SelectAll('chkSelectAll')"/>
                                                    </HeaderTemplate>
                                                    <ItemTemplate>
                                                    <asp:CheckBox ID="chkVendor" runat="server" />
                                                    <asp:HiddenField ID="hdnVendorId" runat="server" Value='<%# Bind("Pk_VendorId") %>' />
                                                    </ItemTemplate>
                                                
<HeaderStyle HorizontalAlign="Center"></HeaderStyle>

<ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                
                                                </asp:TemplateField>

                                                <%--G. Vera 06/15/2012 - Added Column--%>
                                                <asp:TemplateField HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                    <ItemTemplate>
                                                        <asp:Image ID="imgTag" runat="server" />
                                                        <div id="gridPopup1" class="floatDiv" runat="server">
                                                            <asp:Label class="HoverOnGrid" ID="lbtngrdPrint1" runat="server" />
                                                        </div>
                                                        <asp:HiddenField ID="hdnImgVendorId" runat="server" Value='<%# Bind("Pk_VendorId") %>' />
                                                    </ItemTemplate>
                                                    <HeaderStyle HorizontalAlign="Center"></HeaderStyle>
                                                    <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                </asp:TemplateField>

                                               
                                                <asp:TemplateField HeaderText="Vendor Name" HeaderStyle-ForeColor="White" SortExpression="Company" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">                                                    
                                                    <ItemTemplate>
                                                    <asp:LinkButton ID="lblCompany" runat="server" CommandName="Select" Text='<%# this.GetVendorName(Convert.ToString(Eval("Company")))  %>' ToolTip='<%# Bind("Address") %>'></asp:LinkButton>
                                                       <%-- <asp:Label ID="lblCompany" CssClass="bodytextleft" runat="server" Text='<%# Bind("Company") %>'></asp:Label>--%>
                                                    </ItemTemplate>
                                         
                                                        <HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

                                                        <ItemStyle CssClass="gridpad" Width="15%"></ItemStyle>
                                         
                                                </asp:TemplateField>

                                                <%--G. Vera 06/15/2012 - Added Column--%>
                                                <asp:TemplateField HeaderText="SUM<br>RPT" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad"
                                                    HeaderStyle-ForeColor="White" HeaderStyle-Width="10px" >
                                                    <ItemTemplate>
                                                        <asp:LinkButton ID="lnkSRRort" runat="server" CommandName="SR" CommandArgument='<%# Bind("Pk_VendorId") %>' >SR</asp:LinkButton>
                                                    </ItemTemplate>
                                                </asp:TemplateField>   
                                                  
                                                <asp:TemplateField HeaderText="Registered On" HeaderStyle-ForeColor="White" HeaderStyle-Wrap="true"   SortExpression="RegisteredDate" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad" ItemStyle-Width="15%"  >                                                    
                                                    <ItemTemplate>
                                                        <!---Modified by G. Vera on 02/15/2012 - Changed the data binding from "RegisteredDate" to "CreatedDT" for display purposes-->
                                                        <asp:Label ID="lblRegisteredDate" CssClass="bodytextleft" runat="server" Text='<%# Bind("CreatedDT") %>'></asp:Label>
                                                    </ItemTemplate>
                                         
                                         
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad" Width="15%"></ItemStyle>
                                         
                                                </asp:TemplateField>   
                                                  
                                               
                                                <asp:TemplateField HeaderText="Last Updated On" HeaderStyle-ForeColor="White" SortExpression="LastModifiedDT" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad" ItemStyle-Width="18%">                                                    
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblLastModifiedDate" CssClass="bodytextleft" runat="server" Text='<%# Bind("LastModifiedDT") %>'></asp:Label>
                                                    </ItemTemplate>
                                         
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad" Width="18%"></ItemStyle>
                                         
                                                </asp:TemplateField> 
                                                 <asp:TemplateField HeaderText="Submitted On" HeaderStyle-ForeColor="White" SortExpression="SubmittedDate" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad" ItemStyle-Width="10%" Visible="false">                                                    
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblSubmittedDate" CssClass="bodytextleft" runat="server" Text='<%# Bind("SubmittedDate") %>'></asp:Label>
                                                    </ItemTemplate>
                                         
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad" Width="10%"></ItemStyle>
                                         
                                                </asp:TemplateField>   
                                                 <asp:TemplateField HeaderText="Vendor Number" HeaderStyle-ForeColor="White" SortExpression="VendorNumber" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">                                                    
                                                    <ItemTemplate>
                                                        <!--<asp:Label ID="lblVendorNumber" runat="server" Text='<%# Bind("VendorNumber") %>'></asp:Label>-->
                                                        <asp:LinkButton ID="lnkEditVendorNo" ToolTip="Edit vendor number" Visible="true" CommandName="EVN"
                                                                        runat="server" Text='<%# Bind("VendorNumber") %>' CommandArgument='<%# Bind("Pk_VendorId") %>' >
                                                             </asp:LinkButton>
                                                    </ItemTemplate>

<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad"></ItemStyle>

                                                </asp:TemplateField>  
                                                    <asp:TemplateField HeaderText="Tracking Number" HeaderStyle-ForeColor="White" SortExpression="TrackingNumber" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad"   >                                                    
                                                    <ItemTemplate>
                                                     <asp:Label ID="lblTrackingNumber" runat="server" Text=' <%# Bind("TrackingNumber") %>'   ></asp:Label>
                                                     <%--   TC<%#Eval("TrackingNumber") %>--%>
                                              
                                                    </ItemTemplate>
                                                 
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad"></ItemStyle>
                                                 
                                                </asp:TemplateField>  
                                                 <asp:TemplateField HeaderText="Tax / Business ID" HeaderStyle-ForeColor="White" SortExpression="TaxID" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad" >                                                   
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblTaxId" runat="server" Text='<%# Bind("TaxIdText") %>' ToolTip='<%# Bind("TaxID") %>'></asp:Label>
                                                    </ItemTemplate>
                                            
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad" Width="15%"></ItemStyle>
                                            
                                                </asp:TemplateField>  
                                                
                                                  <asp:TemplateField HeaderText="Status" HeaderStyle-ForeColor="White" SortExpression="VendorStatus" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">                                                    
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblstatus" runat="server" Text='<%# Bind("VendorStatus") %>'></asp:Label>
                                                    </ItemTemplate>
                                                     
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad"></ItemStyle>
                                                     
                                                </asp:TemplateField> 

                                               <asp:TemplateField HeaderText="IsBasedInUS" HeaderStyle-ForeColor="White" SortExpression="IsBasedInUS"  Visible="false">                                                    
                                                    <ItemTemplate>
                                                        <asp:CheckBox ID="ChkIsBasedInUS" runat="server" Checked='<%# Bind("IsBasedInUS") %>'></asp:CheckBox>
                                                    </ItemTemplate>
                                                     
<HeaderStyle CssClass="gridpad" ForeColor="White"></HeaderStyle>

<ItemStyle CssClass="gridpad"></ItemStyle>
                                                     
                                                </asp:TemplateField> 
                                                                                         
                                            </Columns>
                                        </asp:GridView>
                                        
                                                             </td></tr>
                                                                <tr>
                                                        <td class="tdheight">
                                                        </td>
                                                    </tr>
                                                               <tr>
                                                                <td class="bodytextcenter">Page&nbsp;&nbsp;<asp:ImageButton ID="imbPrevious" runat="server" ImageUrl="~/Images/pre.jpg" OnClick="imbPrevious_Click" />
                                                                                              <asp:PlaceHolder ID="plcCrntPage" runat="server"></asp:PlaceHolder>
                                                                                            &nbsp;&nbsp;of&nbsp;
                                                                                            <asp:Label ID="lblTotalPage" runat="server"></asp:Label>
                                                                                            &nbsp;<asp:ImageButton ID="imbNext" runat="server" ImageUrl="~/Images/next1.jpg"
                                                                                                OnClick="imbNext_Click" /></td>
                                                                </tr>
                                                             <tr><td>&nbsp;</td></tr>
                                                             
                                                             <tr><td class="style2">
                                                             <asp:ImageButton ID="imgDelete" runat="server" 
                                                                     ImageUrl="~/Images/delete.jpg" onclick="imgDelete_Click" 
                                                                       ToolTip="Delete"/>&nbsp;
                                                             <asp:ImageButton ID="imgCom" runat="server" 
                                                                     ImageUrl="~/Images/complete.jpg" onclick="imgCom_Click" 
                                                                       ToolTip="Completed"/>&nbsp;
                                                             <asp:ImageButton ID="imgrev" runat="server" 
                                                                     ImageUrl="~/Images/revision1.jpg" onclick="imgrev_Click" ToolTip="Revision"/>&nbsp;
                                                             <asp:ImageButton ID="imgActive" 
                                                                     runat="server" ImageUrl="~/Images/activate.jpg" onclick="imgActivate_Click" ToolTip="Activate" Visible="false"/>&nbsp;
                                                             <asp:ImageButton 
                                                                     ID="imgDeactive" runat="server" ImageUrl="~/Images/accept.jpg" 
                                                                     onclick="imgAccept_Click" ToolTip="Accept" Visible="false"/>&nbsp;&nbsp;&nbsp;
                                                              <%--G. Vera 4/19/2012 - Phase 3 Edit vendor Number Enhancement--%>
                                                             <!--<asp:LinkButton ID="lnkEditVendorNo" ToolTip="Edit vendor number" Visible="true" 
                                                                     runat="server" onclick="lnkEditVendorNo_Click">
                                                                Edit Vendor Number
                                                             </asp:LinkButton>-->
                                                                 </td></tr>
                                                                 <tr>
                                                                 <td class="bodytextcenter">
                                                             
                                                                  <%--<asp:ImageButton ID="imgActivate" runat="server" ImageUrl="~/Images/activate.jpg" onclick="imgActivate_Click" ToolTip="Activate" style="display:none"/>&nbsp;<asp:ImageButton ID="imgDeactivate" runat="server" ImageUrl="~/Images/deactive.jpg" onclick="imgDeactivate_Click" ToolTip="Deactivate" style="display:none"/>--%>
                                                                 
                                                                 </td>
                                                                 </tr>
                                                             </table></td></tr>
                                                                <tr>
                                                                
                                                                    <td>
                                                                      
                                                                    </td>
                                                                </tr>
                                                             
                                                            </table>
                                                     
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                    <asp:HiddenField ID="hdnAddDoc" runat="server" />
                                                    <asp:HiddenField ID="hdnSRAddDoc" runat="server" />
                                                    <asp:HiddenField ID="hdnInAddDoc" runat="server" />
                                                    <asp:HiddenField ID="hdnPage" runat="server" />
                                                    <asp:HiddenField ID="hdnCount" runat="server" />
                                                    <asp:HiddenField ID="hdnSort" runat="server" />
                                                </td>
                                            </tr>
                                            <%--Added by G. Vera on 06/18/2012 - Phase 3 Item 5.6 (HIRA:VPI-23)--%>
                                            <tr>
                                                <td>
                                                    <Haskell:AdminAttchments ID="uclAttachments" runat="server"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd2" runat="server" TargetControlID="HiddenField3"
                                            PopupControlID="modalPopupDiv2" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="HiddenField3" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalPopupDiv2" class="popupdivcl" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="400" align="center">
                                                <tr>
                                                    <td class="searchhdrbarbold" colspan="2">
                                                        Search Criteria Used
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formhead" colspan="2">
                                                        &nbsp; &nbsp; &nbsp;CSI Codes
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <asp:Image ID="Image1" runat="server" ImageUrl="#" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formhead" colspan="2">
                                                        &nbsp; &nbsp; &nbsp;Types of Projects
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <asp:Image ID="Image2" runat="server" ImageUrl="#" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ModalPopupTd" colspan="2">
                                                        <asp:ImageButton ID="ImageButton9" runat="server" ImageUrl="~/Images/cancel.jpg"
                                                            TabIndex="5" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd3" runat="server" TargetControlID="HiddenField1"
                                            PopupControlID="modalPopupDiv3" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="HiddenField1" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalPopupDiv3" class="popupdivcl" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="400" align="center">
                                                <tr>
                                                    <td class="searchhdrbarbold" colspan="2">
                                                        Vendor Search
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        &nbsp;<asp:Image ID="Image3" runat="server" ImageUrl="#" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ModalPopupTd" colspan="2">
                                                        <asp:Image ID="Image4" runat="server" ImageUrl="~/Images/extoexcel.jpg" />&nbsp;
                                                        <asp:ImageButton ID="ImageButton14" runat="server" ImageUrl="~/Images/cancel.jpg"
                                                            TabIndex="5" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="ModalInfo" runat="server" TargetControlID="hdnInfo" CancelControlID="imbOk"
                                            PopupControlID="ModalDivInfo" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="hdnInfo" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="ModalDivInfo" class="popupspc" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="400" align="center">
                                                <tr>
                                                    <td class="searchhdrbarbold" colspan="2">
                                                        Information
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                   
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight popupdivcl">
                                                        <asp:Label id="lblInformation" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                                    </td>
                                                </tr>
                                                
                                                
                                                <tr>
                                                    <td class="ModalPopupTd" colspan="2">
                                                       
                                                        <asp:ImageButton ID="imbOk" ToolTip="OK" runat="server" ImageUrl="~/Images/ok.jpg"
                                                            TabIndex="5" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                       <tr>
                            <td >
                                <Ajax:ModalPopupExtender ID="modalConfirm" runat="server" TargetControlID="hdnModal"
                                    PopupControlID="modalDiv" BackgroundCssClass="popupbg" CancelControlID="imbCanceldelete" RepositionMode="RepositionOnWindowResize">
                                </Ajax:ModalPopupExtender>
                                <asp:HiddenField ID="hdnModal" runat="server" />
                            </td>
                       </tr>

                       <tr>
                            <td class="sectionpad" >
                                <div id="modalDiv" class="popupdiv" style="display: none">
                                    <table cellpadding="0" cellspacing="0" border="0" width="300">
                                        <tr>
                                            <td class="searchhdrbarbold" runat="server" id="Td1">
                                                Confirm
                                            </td>
                                        </tr>
                                        <tr><td class="tdheight popupdivcl"></td></tr>
                                        <tr>
                                            <td class="popupdivcl">
                                                <asp:Label ID="lblConfirm" runat="server" CssClass="summaryerrormsg"></asp:Label>
                                            </td>
                                        </tr>
                                            <tr><td class="tdheight popupdivcl"></td></tr>
                                        <tr>
                                            <td class="popupdivcl bodytextcenter">
                                                <asp:ImageButton ID="imgOkButton" runat="server" ImageUrl="~/Images/ok.jpg"  OnClick="imgOK_Click" ToolTip="Ok"  /> &nbsp;
                                                <asp:ImageButton ID="imbCanceldelete" runat="server" ImageUrl="~/Images/cancel.jpg" ToolTip="Cancel"  />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdheight popupdivcl">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                       </tr>

                       <!--G. Vera 4/19/2012 - Edit Vendor Number Phase 3 Enhancement-->
                       <tr>
                            <td >
                                <Ajax:ModalPopupExtender ID="modalEditvendorNo" runat="server" TargetControlID="hdnModal2"
                                    PopupControlID="modalVendNoDiv" BackgroundCssClass="popupbg" CancelControlID="imbCanceldelete" 
                                    RepositionMode="RepositionOnWindowResize" DropShadow="true" >

                                </Ajax:ModalPopupExtender>
                                <asp:HiddenField ID="hdnModal2" runat="server" />
                            </td>
                      </tr>

                       <tr>
                            <td class="sectionpad" >
                                <div id="modalVendNoDiv" class="popupdiv2" style="display: none">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td class="searchhdrbarbold" runat="server" id="Td2">
                                                Edit Vendor Number
                                            </td>
                                        </tr>
                                        <tr><td class="tdheight popupdivcl"></td></tr>
                                        <tr>
                                            <td class="popupdivcl">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;  &nbsp; 
                                                <asp:Label ID="lblCompany" runat="server" CssClass="editvendnocontent">Company:</asp:Label>
                                                &nbsp;&nbsp;&nbsp;
                                                <asp:Label ID="lblCompanyData" runat="server" CssClass="editvendnocontent"></asp:Label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="popupdivcl">
                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                                <asp:Label ID="lblLocation" runat="server" CssClass="editvendnocontent">Location:</asp:Label>
                                                &nbsp;&nbsp;&nbsp;
                                                <asp:Label ID="lblLocationData" runat="server" CssClass="editvendnocontent"></asp:Label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="popupdivcl" valign="middle">
                                              
                                                    &nbsp;&nbsp;   Federal Tax / Business ID:
                                                &nbsp;&nbsp;&nbsp;
                                                <asp:Label ID="lblTaxIdData" runat="server" CssClass="editvendnocontent"></asp:Label>
                                            </td>
                                        </tr>
                                        <tr><td class="popupdivcl">
                                                <label ID="lblEditWarning" runat="server" visible="false" style="color:Red">
                                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Warning: No records were found in JDE for this vendor.
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="popupdivcl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;     
                                                <asp:Label ID="lblVendorNo" runat="server" CssClass="editvendnocontent">Vendor Number:</asp:Label>
                                                &nbsp;&nbsp;&nbsp;
                                                <Ajax:DropDownExtender runat="server" ID="DDE" TargetControlID="txtVendorNoData" DropDownControlID="ddlVendorNoData" 
                                                                       DropArrowBackColor="ButtonShadow" HighlightBackColor="ButtonShadow"
                                                                         />
                                                <asp:TextBox ID="txtVendorNoData" runat="server" Width="200px" 
                                                             CssClass="editvendnocontent" Visible="true" BackColor="MenuBar" >
                                                </asp:TextBox>&nbsp;&nbsp;
                                                <asp:ListBox ID="ddlVendorNoData" runat="server" Visible="true" CssClass="ddlbox2"
                                                             Width="300px" ForeColor="Black" Font-Names="Tahoma" SelectionMode="Multiple">
                                                </asp:ListBox>
                                            </td>
                                        </tr>
                                        <tr><td class="tdheight popupdivcl"></td></tr>
                                        <tr>
                                            <td class="popupdivcl bodytextcenter">
                                                <asp:ImageButton ID="imbSave" runat="server" ImageUrl="~/Images/save.jpg" 
                                                    ToolTip="Save" onclick="imbSaveVendorNumber_Click"  /> &nbsp;&nbsp;
                                                <asp:ImageButton ID="imbCancel" runat="server" ImageUrl="~/Images/cancel.jpg" ToolTip="Cancel"  />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdheight popupdivcl">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                       </tr>
                       <!--G. Vera - End of Modification-->
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
          
        </tr>
    </table>
    </form>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41184898-1', 'haskell.com');
        ga('send', 'pageview');

    </script>
</body>
</html>

<%--G. Vera 06/18/2012 - Added--%>
<script language="javascript" type="text/javascript">
    function ShowPopup(panel) {
        var pnl = document.getElementById(panel);
        pnl.style.display = "Block";
    }
    //Hides DIV popup commands for gridview
    function HidePopup(panel) {
        var pnl = document.getElementById(panel);
        pnl.style.display = "none";
    }

    function SelectAll(id) {
        //get reference of GridView control
        var grid = document.getElementById('grdVendor');
        //variable to contain the cell of the grid
        var cell;

        if (grid.rows.length > 0) {
            //loop starts from 1. rows[0] points to the header.
            for (i = 1; i < grid.rows.length; i++) {
                //get the reference of first column
                cell = grid.rows[i].cells[0];

                //loop according to the number of childNodes in the cell
                for (j = 0; j < cell.childNodes.length; j++) {
                    //if childNode type is CheckBox                 
                    if (cell.childNodes[j].type == "checkbox") {
                        //assign the status of the Select All checkbox to the cell checkbox within the grid
                        cell.childNodes[j].checked = document.getElementById(id).checked;
                    }
                }
            }
        }
    }

</script>

