﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ContactUs.aspx.cs" Inherits="Common_ContactUs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link href="../css/Haskell.css" rel="stylesheet" type="text/css" />

    <script src="../Script/jquery.js" type="text/javascript"></script>
     <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache" />

    <script language="javascript" type="text/javascript">
        window.history.go(1);        
            </script>   

    <style type="text/css">
        body
        {
            font-family: Arial;
            font-size: 11px;
            color: #333333;
            background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
            margin-top:0px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" defaultfocus="txtMessage" defaultbutton="imbSubmit">
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>
    <table cellpadding="0" cellspacing="0" width="900px" border="0" align="center">
        <tr>
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <Haskell:VQFTopMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="leftmenutd">
                                    </td>
                                    <td class="contenttd">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="formhead">
                                                    Contact Us
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="5" cellspacing="0" width="95%">
                                                        <tr>
                                                            <td class="hdrbold" align="center">
                                                                Any questions or suggestions, please leave us a comment
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytextcenter">
                                                                <asp:TextBox ID="txtMessage" runat="server" CssClass="txtboxarea" TextMode="MultiLine"
                                                                     onFocus="javascript:textCounter(this,1000,'yes');"
                                                                    onKeyDown="javascript:textCounter(this,1000,'yes');" onKeyUp="javascript:textCounter(this,1000,'yes');" ></asp:TextBox>
                                                                <asp:RequiredFieldValidator ID="reqMessage" ControlToValidate="txtMessage" Display="none"
                                                                    runat="server" ErrorMessage="Please enter comments">
                                                                </asp:RequiredFieldValidator>
                                                            </td>
                                                            <%--<td class="formtdrt">
                                                                        <span class="mandatorystar">*</span>Comments
                                                                    </td>--%>
                                                        </tr>
                                                        <tr>
                                                            <td class="formtdlt">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytextcenter">
                                                                <asp:ImageButton ID="imbSubmit" runat="server" ImageUrl="~/images/Submit.jpg" OnClick="imbSubmit_Click"
                                                                    CausesValidation="false" ToolTip="Submit" />&nbsp;
                                                                <asp:ImageButton ID="imbCancel" CausesValidation="false" runat="server" ImageUrl="~/Images/cancel.jpg"
                                                                    ToolTip="Cancel" OnClick="imbCancel_Click" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd" runat="server" TargetControlID="lblHidden"
                                            PopupControlID="modalPopupDiv" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="lblHidden" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalPopupDiv" class="popupdivsmall" style="display: none">
                                            <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="msgTd">
                                                        Message
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl tdheight">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl">
                                                        <asp:Label ID="lblMsg" runat="server" CssClass="errormsg"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl bodytextcenter">
                                                        <input type="button" title="Ok" value="OK" class="ModalPopupButton" onclick="$find('modalExtnd').hide();" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl tdheight">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
