﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VendorReg.aspx.cs" Inherits="Common_VendorReg" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Haskell</title>
    <link href="../css/Haskell.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache" />

    <script language="javascript" type="text/javascript">
        window.history.go(1);        
    </script>

</head>
<body>
    <form id="form1" runat="server" defaultfocus="txtCompany" defaultbutton="imbSubmit">
    <asp:ScriptManager ID="scriptMgr" runat="server">
    </asp:ScriptManager>
    <table cellpadding="0" cellspacing="0" width="900px" border="0" align="center">
        <tr>
            <td class="container">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <Haskell:VQFRegistrationMenu ID="TopMenu" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="contenttd">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="formhead">
                                                    Vendor Registration
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdheight">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <asp:Panel ID="pnlReg" runat="server">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="50%" align="center" class="searchtableclass">
                                                            <tr>
                                                                <td class="searchhdrbarbold" colspan="2">
                                                                    Vendor Registration
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20px" colspan="2">
                                                                </td>
                                                            </tr>
                                                            <%-- <tr>
                                                     <td class="formtdlt">
                                                         <span class="mandatorystar">*</span>Company Name
                                                     </td>
                                                     <td class="formtdrt">
                                                         <asp:TextBox CssClass="txtbox" ID="txtCompany" runat="server"></asp:TextBox>
                                                         <asp:RequiredFieldValidator ID="reqCompany" ControlToValidate="txtCompany" Display="None"
                                                             ValidationGroup="VendorReg" runat="server" SetFocusOnError="true" ErrorMessage="Please enter company"
                                                             >
                                                         </asp:RequiredFieldValidator>
                                                         <!-- <Ajax:ValidatorCalloutExtender ID="valcCompany" runat="server" TargetControlID="reqCompany"
                                                             HighlightCssClass="validatorCalloutHighlight">
                                                         </Ajax:ValidatorCalloutExtender> -->
                                                     </td>
                                                 </tr>--%>
                                                            <tr>
                                                                <td class="formtdlt" valign="middle" width="40%">
                                                                    <span class="mandatorystar">*</span>Company Name
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtboxupper" ID="txtCompany" runat="server" TabIndex="1" MaxLength="60"></asp:TextBox>
                                                                    <asp:HiddenField ID="hdnCompany" runat="server" />
                                                                      <asp:HiddenField ID="hdnCountry" runat="server" />
                                                                    <asp:CustomValidator ID="cusvTINorSSN" runat="server" ErrorMessage="Please enter company name or tax id"
                                                                        Display="None" SetFocusOnError="true" ValidationGroup="VendorReg" ValidateEmptyText="true"
                                                                        OnServerValidate="cusTINorSSN_ServerValidate"></asp:CustomValidator>
                                                                    <%-- <!-- <Ajax:ValidatorCalloutExtender ID="valcTinOrSSN" runat="server" TargetControlID="cusTINorSSN"
                                                             HighlightCssClass="validatorCalloutHighlight">
                                                         </Ajax:ValidatorCalloutExtender> -->  --%>
                                                                </td>
                                                            </tr>
                                                          <%--  <tr> 001-Sooraj Commented 
                                                                <td>
                                                                </td>
                                                                <td class="formtdrt">
                                                                    OR
                                                                </td>
                                                            </tr>--%>
                                                            <tr>
                                                                 <td class="formtdlt" valign="middle" width="40%">
                                                                    <span class="mandatorystar">*</span>Country
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:DropDownList ID="ddlCountry" runat="server" TabIndex="2" Width="150px"  CssClass="ddlbox" OnChange="javascript:ShowHide(this.value,'trUSA','trOther')">
                                                                    <asp:ListItem Text="USA" Value="USA"></asp:ListItem>
                                                                      <asp:ListItem Text="Other" Value="Other"></asp:ListItem>
                                                                    </asp:DropDownList></td>
                                                            </tr>
                                                            <tr id="trUSA" runat="server">
                                                                <td class="formtdlt" valign="middle">
                                                                    <span class="mandatorystar">*</span>U.S. Tax ID
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtboxtosmall" ID="txtTax" runat="server" TabIndex="2" MaxLength="2"></asp:TextBox>&nbsp;-
                                                                    <Ajax:FilteredTextBoxExtender ID="ftxtTax" runat="server" TargetControlID="txtTax"
                                                                        FilterType="Numbers">
                                                                    </Ajax:FilteredTextBoxExtender>
                                                                    <asp:TextBox CssClass="txtboxmedium" ID="txtTax1" runat="server" TabIndex="2" MaxLength="7"></asp:TextBox>
                                                                    <Ajax:FilteredTextBoxExtender ID="ftxtTax1" runat="server" TargetControlID="txtTax1"
                                                                        FilterType="Numbers">
                                                                    </Ajax:FilteredTextBoxExtender>
                                                                    <asp:HiddenField ID="hdnTax" runat="server" />
                                                                    <asp:CustomValidator ID="Cusfederaltax" runat="server" Display="None" ValidationGroup="VendorReg"
                                                                        EnableClientScript="false" OnServerValidate="Cusfederaltax_ServerValidate"></asp:CustomValidator>
                                                                        
                                                                </td>
                                                            </tr>
                                                             <tr id="trOther"  runat="server">
                                                           <td class="formtdlt" valign="top" >
                                                                    <span class="mandatorystar">*</span>Business ID
                                                                </td>
                                                             <td  class="formtdrt"><asp:TextBox  ID="txtBusinessTax" runat="server" TabIndex="2" MaxLength="50" CssClass="txtbox"></asp:TextBox>

                                                                        <Ajax:FilteredTextBoxExtender ID="FilteredTextBoxExtender3" runat="server" TargetControlID="txtBusinessTax"
                                                                        FilterType="Numbers,UppercaseLetters, LowercaseLetters">
                                                                    </Ajax:FilteredTextBoxExtender>
                                                                    
                                                                      <span><br />(Business identification number provided by your country)</span>
                                                                      </td>
                                                                  
                                                             </tr>
                                                            <tr>
                                                                <td class="formtdlt">
                                                                </td>
                                                                <td class="formtdrt">
                                                                </td>
                                                            </tr>
                                                            <%-- <tr>
                                                         <td class="formtdlt">
                                                             <span class="mandatorystar">*</span>City
                                                         </td>
                                                         <td class="formtdrt">
                                                             <asp:TextBox CssClass="txtbox" ID="txtCity" runat="server"></asp:TextBox>
                                                             <asp:RequiredFieldValidator ID="reqCity" ControlToValidate="txtCity" Display="None"
                                                                 ValidationGroup="VendorReg" runat="server" SetFocusOnError="true" ErrorMessage="Please enter city"
                                                                 >
                                                             </asp:RequiredFieldValidator>
                                                             <!-- <Ajax:ValidatorCalloutExtender ID="valcCity" runat="server" TargetControlID="reqCity"
                                                                 HighlightCssClass="validatorCalloutHighlight">
                                                             </Ajax:ValidatorCalloutExtender> -->
                                                             <Ajax:FilteredTextBoxExtender ID="ftxtCity" runat="server" TargetControlID="txtCity"
                                                                 FilterType="LowercaseLetters,UppercaseLetters">
                                                             </Ajax:FilteredTextBoxExtender>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td class="formtdlt">
                                                             <span class="mandatorystar">*</span>State
                                                         </td>
                                                         <td class="formtdrt">
                                                             <asp:DropDownList ID="ddlState" runat="server" CssClass="ddlbox">
                                                             </asp:DropDownList>
                                                             <asp:RequiredFieldValidator ID="reqState" ControlToValidate="ddlState" Display="None"
                                                                 ValidationGroup="VendorReg" runat="server" SetFocusOnError="true" ErrorMessage="Please select state"
                                                                  InitialValue="0">
                                                             </asp:RequiredFieldValidator>
                                                             <!-- <Ajax:ValidatorCalloutExtender ID="valcState" runat="server" TargetControlID="reqState"
                                                                 HighlightCssClass="validatorCalloutHighlight">
                                                             </Ajax:ValidatorCalloutExtender> -->
                                                         </td>
                                                     </tr>--%>
                                                            <tr>
                                                                <td>
                                                                </td>
                                                                <td class="formtdrt" >
                                                                    <asp:ImageButton ID="imbSubmit" runat="server" ImageUrl="~/images/submit.jpg" TabIndex="3"
                                                                        OnClick="imgSubmit_Click" ValidationGroup="VendorReg" ToolTip="Submit" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tdheight" colspan="2">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </asp:Panel>
                                                    <asp:Panel ID="pnlVendorDB" runat="server">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td class="tdheight">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <asp:GridView ID="grdVendorDB" runat="server" AutoGenerateColumns="False" DataKeyNames="PK_VendorId"
                                                                        BorderWidth="0px" CellSpacing="1" CellPadding="5" GridLines="None" Width="80%"
                                                                        OnRowDataBound="grdVendorDB_RowDataBound" OnSelectedIndexChanged="grdVendorDB_SelectedIndexChanged">
                                                                        <RowStyle CssClass="listone" />
                                                                        <AlternatingRowStyle CssClass="listtwo" />
                                                                        <HeaderStyle CssClass="listheading" />
                                                                        <Columns>
                                                                            <asp:TemplateField HeaderStyle-HorizontalAlign="Center">
                                                                                <ItemTemplate>
                                                                                    <asp:RadioButton ID="rdbSelect" GroupName="Select" runat="server" AutoPostBack="True"
                                                                                        OnCheckedChanged="rdbSelect_CheckedChanged" />
                                                                                </ItemTemplate>
                                                                                <ItemStyle CssClass="bodytextcenter" />
                                                                            </asp:TemplateField>
                                                                            <asp:BoundField DataField="Company" HeaderText="Company" HeaderStyle-CssClass="gridpad"
                                                                                ItemStyle-CssClass="gridpad"></asp:BoundField>
                                                                            <asp:BoundField DataField="Address" HeaderText="Address" HeaderStyle-CssClass="gridpad"
                                                                                ItemStyle-CssClass="gridpad" />
                                                                            <asp:BoundField DataField="City" HeaderText="City" HeaderStyle-CssClass="gridpad"
                                                                                ItemStyle-CssClass="gridpad" />
                                                                            <asp:TemplateField HeaderText="State" HeaderStyle-CssClass="gridpad" ItemStyle-CssClass="gridpad">
                                                                                <EditItemTemplate>
                                                                                    <asp:TextBox ID="TextBox1" runat="server" Text='<%# Bind("Fk_State") %>'></asp:TextBox>
                                                                                </EditItemTemplate>
                                                                                <ItemTemplate>
                                                                                    <asp:Label ID="lblState" runat="server" Text='<%# Bind("Fk_State") %>'></asp:Label>
                                                                                    <asp:Label ID="lblOtherState" runat="server" Text='<%# Bind("OtherState") %>' Visible="false"></asp:Label>
                                                                                </ItemTemplate>
                                                                            </asp:TemplateField>
                                                                            <asp:BoundField DataField="ZipCode" HeaderText="ZIP/Postal Code" HeaderStyle-CssClass="gridpad"
                                                                                ItemStyle-CssClass="gridpad" />
                                                                            <asp:BoundField DataField="TaxId" HeaderText="Tax ID" HeaderStyle-CssClass="gridpad"
                                                                                ItemStyle-CssClass="gridpad" />
                                                                        </Columns>
                                                                    </asp:GridView>
                                                                </td>
                                                            </tr>
                                                            <tr id="CompDetailstr" runat="server" style="display: none">
                                                                <td>
                                                                    <table id="CompDetailsTable" name="CompDetailsTable" width="80%">
                                                                        <%--  <tr>
                                                     <td class="bodytextbold_right">Company Name: &nbsp;</td>
                                                      <td class="bodytextleft">
                                                         <asp:Label ID="Label1" runat="server" >Test Company Name</asp:Label>
                                                     </td>
                                                     </tr>
                                                       <tr>
                                                     <td class="bodytextbold_right">
                                                       Headquarters Address: &nbsp;
                                                     </td>
                                                     <td class="bodytextleft">
                                                       <asp:Label ID="Label2" runat="server" >Company Headquarters Address</asp:Label>
                                                     </td>
                                                 </tr>--%>
                                                                        <tr>
                                                                            <td colspan="2">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tr>
                                                                                        <td width="20%">
                                                                                            &nbsp;&nbsp;
                                                                                        </td>
                                                                                        <td class="bodytextleft">
                                                                                            &nbsp;&nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="20%">
                                                                                        </td>
                                                                                        <td class="bodytextleft">
                                                                                            As per the Haskell records, contact details of
                                                                                            <asp:Label ID="lblCompanyName" runat="server" CssClass="bodytextbold"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="formtd" width="40%">
                                                                                First Name: &nbsp;
                                                                            </td>
                                                                            <td class="bodytextbold" width="60%">
                                                                                <asp:Label ID="lblFirstName" runat="server"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="formtd">
                                                                                Last Name: &nbsp;
                                                                            </td>
                                                                            <td class="bodytextbold">
                                                                                <asp:Label ID="lblLastName" runat="server"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="formtd">
                                                                                E-mail: &nbsp;
                                                                            </td>
                                                                            <td class="bodytextbold">
                                                                                <asp:Label ID="lblEmail" runat="server"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdheight" colspan="2">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2">
                                                                                <table width="100%">
                                                                                    <tr>
                                                                                        <td class="bodytextright" width="40%" valign="top">
                                                                                            Kindly confirm if you are :&nbsp;
                                                                                        </td>
                                                                                        <td class="bodytextleft" align="left" width="60%">
                                                                                            <asp:Label ID="lblConfirmFirstName" runat="server" CssClass="bodytextbold"></asp:Label>
                                                                                            <asp:Label ID="lblConfirmLastName" runat="server" CssClass="bodytextbold"></asp:Label>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                        </td>
                                                                                        <td class="bodytextleft">
                                                                                            <asp:ImageButton ID="imbYes" runat="server" ImageUrl="~/Images/yes.jpg" OnClick="imdCorrect_Click"
                                                                                                ToolTip="Yes" />
                                                                                            <asp:ImageButton ID="imbNo" runat="server" ImageUrl="~/Images/no.jpg" OnClick="imbIncorrect_Click"
                                                                                                ToolTip="No" />
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td>
                                                                                <Ajax:ModalPopupExtender ID="modalExtndCorrect" runat="server" TargetControlID="HiddenField1"
                                                                                    PopupControlID="modalPopupDivCorrect" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                                                                </Ajax:ModalPopupExtender>
                                                                                <asp:HiddenField ID="HiddenField1" runat="server" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div id="modalPopupDivCorrect" class="popupdivbg" style="display: none">
                                                                                    <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                                                        <tr>
                                                                                            <td class="searchhdrbarbold" runat="server" id="Td1">
                                                                                                Result
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="tdheight">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bodytextleft">
                                                                                                Can the Login Information be sent to this e-mail id
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <asp:RadioButtonList ID="rblCorrectOpt" runat="server" AutoPostBack="true" OnSelectedIndexChanged="rblCorrectOpt_SelectedIndexChanged">
                                                                                                    <asp:ListItem Value="0">Yes</asp:ListItem>
                                                                                                    <asp:ListItem Value="1">No</asp:ListItem>
                                                                                                </asp:RadioButtonList>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                                &nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <asp:LinkButton ID="lnkNew" runat="server" OnClick="lnkNew_Click" Text="If your company is not in the list, Click Here to register your company"></asp:LinkButton>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </asp:Panel>
                                                    <asp:Panel ID="pnlNewCompany" runat="server">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="50%" class="searchtableclass"
                                                            align="center">
                                                            <tr>
                                                                <td class="searchhdrbarbold" colspan="2">
                                                                    Vendor Registration
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20px" colspan="2">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>Company Name
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtboxupper" ID="txtCompanyName" runat="server" TabIndex="1"
                                                                        MaxLength="60"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqvCompanyName" ControlToValidate="txtCompanyName"
                                                                        Display="None" ValidationGroup="NewCompany" runat="server" SetFocusOnError="true"
                                                                        ErrorMessage="Please enter company name" EnableClientScript="false">
                                                                    </asp:RequiredFieldValidator>
                                                                </td>
                                                            </tr>
                                                                  <tr>
                                                                 <td class="formtdlt" valign="middle" width="40%">
                                                                    <span class="mandatorystar">*</span>Country
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:DropDownList ID="ddlCountryReg" runat="server" TabIndex="2" Width="150px"  CssClass="ddlbox" OnChange="javascript:ShowHide(this.value,'trUSAReg','trOtherReg')">
                                                                    <asp:ListItem Text="USA" Value="USA"></asp:ListItem>
                                                                      <asp:ListItem Text="Other" Value="Other"></asp:ListItem>
                                                                    </asp:DropDownList></td>
                                                            </tr>
                                                            <tr id="trUSAReg" runat="server">
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>U.S. Tax ID
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtboxtosmall" ID="txtTaxId" runat="server" TabIndex="2" MaxLength="2"></asp:TextBox>&nbsp;-
                                                                    <Ajax:FilteredTextBoxExtender ID="FilteredTextBoxExtender1" runat="server" TargetControlID="txtTaxId"
                                                                        FilterType="Numbers">
                                                                    </Ajax:FilteredTextBoxExtender>
                                                                    <asp:TextBox CssClass="txtboxmedium" ID="txtTaxId1" runat="server" TabIndex="3" MaxLength="7"></asp:TextBox>
                                                                    <Ajax:FilteredTextBoxExtender ID="FilteredTextBoxExtender2" runat="server" TargetControlID="txtTaxId1"
                                                                        FilterType="Numbers">
                                                                    </Ajax:FilteredTextBoxExtender>
                                                                    <asp:CustomValidator ID="Custax" runat="server" Display="None" ValidationGroup="NewCompany"
                                                                        EnableClientScript="false" OnServerValidate="Custax_ServerValidate"></asp:CustomValidator>
                                                                </td>
                                                            </tr>
                                                              <tr id="trOtherReg" runat="server">
                                                           <td class="formtdlt" valign="middle" >
                                                                    <span class="mandatorystar">*</span>Business ID
                                                                </td>
                                                             <td  class="formtdrt"><asp:TextBox  ID="txtBusinessTaxId" runat="server" TabIndex="2" MaxLength="50" CssClass="txtbox"></asp:TextBox>

                                                                        <Ajax:FilteredTextBoxExtender ID="FilteredTextBoxExtender4" runat="server" TargetControlID="txtBusinessTaxId"
                                                                        FilterType="Numbers,UppercaseLetters, LowercaseLetters">
                                                                    </Ajax:FilteredTextBoxExtender></td>
                                                             </tr>
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>First Name
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtbox" ID="txtFirstName" runat="server" TabIndex="4" MaxLength="50"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqvFirstName" ControlToValidate="txtFirstName" Display="None"
                                                                        ValidationGroup="NewCompany" runat="server" SetFocusOnError="true" ErrorMessage="Please enter first name"
                                                                        EnableClientScript="false">
                                                                    </asp:RequiredFieldValidator>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>Last Name
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtbox" ID="txtLastName" runat="server" TabIndex="5" MaxLength="50"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqvLastName" ControlToValidate="txtLastName" Display="None"
                                                                        ValidationGroup="NewCompany" runat="server" SetFocusOnError="true" ErrorMessage="Please enter last name"
                                                                        EnableClientScript="false">
                                                                    </asp:RequiredFieldValidator>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>E-mail
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtbox" ID="txtEmailNew" runat="server" TabIndex="6" MaxLength="100"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqEmailNew" ControlToValidate="txtEmailNew" Display="None"
                                                                        ValidationGroup="NewCompany" runat="server" SetFocusOnError="true" ErrorMessage="Please enter e-mail"
                                                                        EnableClientScript="false">
                                                                    </asp:RequiredFieldValidator>
                                                                    <asp:RegularExpressionValidator ID="regvEmail" ControlToValidate="txtEmailNew" Display="None"
                                                                        ValidationGroup="NewCompany" runat="server" SetFocusOnError="true" ErrorMessage="Please enter valid e-mail"
                                                                        EnableClientScript="false" ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"></asp:RegularExpressionValidator>
                                                                </td>
                                                            </tr>
                                                            <!-- *** Added by N Schoenberger 1/05/2012 [Phase II Enhancement] to force password to be re-entered *** -->
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>Confirm E-mail</td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox ID="txtCEmailNew" runat="server" CssClass="txtbox" MaxLength="100" 
                                                                        TabIndex="6"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqCEmailNew" runat="server" 
                                                                        ControlToValidate="txtEmailNew" Display="None" EnableClientScript="false" 
                                                                        ErrorMessage="Please enter confirm e-mail" SetFocusOnError="true" 
                                                                        ValidationGroup="NewCompany"></asp:RequiredFieldValidator>
                                                                    <asp:CustomValidator ID="cusEmail" runat="server" Display="None" 
                                                                        EnableClientScript="false" OnServerValidate="cusEmail_ServerValidate" 
                                                                        ValidationGroup="VendorReg"></asp:CustomValidator>
                                                                </td>
                                                            </tr>
                                                            <!-- *** End added by N Schoenberger 1/05/2012 to force password to be re-entered *** -->
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>Password
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox CssClass="txtbox" ID="txtPasswordNew" runat="server" TextMode="Password"
                                                                        TabIndex="7" MaxLength="20"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqPasswordNew" ControlToValidate="txtPasswordNew"
                                                                        Display="None" ValidationGroup="NewCompany" runat="server" SetFocusOnError="true"
                                                                        ErrorMessage="Please enter password" EnableClientScript="false">
                                                                    </asp:RequiredFieldValidator>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="formtdlt">
                                                                    <span class="mandatorystar">*</span>Confirm Password
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:TextBox ID="txtCPasswordNew" runat="server" CssClass="txtbox" 
                                                                        MaxLength="20" TabIndex="8" TextMode="Password"></asp:TextBox>
                                                                    <asp:RequiredFieldValidator ID="reqCPasswordNew" runat="server" 
                                                                        ControlToValidate="txtCPasswordNew" Display="None" EnableClientScript="false" 
                                                                        ErrorMessage="Please enter confirm password" SetFocusOnError="true" 
                                                                        ValidationGroup="NewCompany">
                                                                    </asp:RequiredFieldValidator>
                                                                    <%--<asp:Comparevalidator ID="compvPassword" runat="server" ControlToValidate="txtCPasswordNew" ControlToCompare="txtPasswordNew"  Display="None" ValidationGroup="NewCompany" runat="server" SetFocusOnError="true"
                                                             ErrorMessage="Password and confirm password should be same" EnableClientScript="false"></asp:Comparevalidator>--%>
                                                                    <asp:CustomValidator ID="cusPassword" runat="server" Display="None" 
                                                                        EnableClientScript="false" OnServerValidate="cusPassword_ServerValidate" 
                                                                        ValidationGroup="VendorReg"></asp:CustomValidator>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                </td>
                                                                <td class="formtdrt">
                                                                    <asp:ImageButton ID="imbSave" runat="server" ImageUrl="~/images/submit.jpg" OnClick="imgSave_Click"
                                                                        ValidationGroup="NewCompany" ToolTip="Submit" TabIndex="9" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tdheight" colspan="2">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </asp:Panel>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalExtnd" runat="server" TargetControlID="lblHidden"
                                            PopupControlID="modalPopupDiv" BackgroundCssClass="popupbg">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="lblHidden" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="modalPopupDiv" class="popupdivbg" style="display: none; width: 520px;">
                                            <table width="100%" cellpadding="0" align="center" cellspacing="0" border="0">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="msgTd">
                                                        Message
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-left: 25px; padding-right: 10px; text-align: left;">
                                                        <asp:Label ID="lblErrorMsg" runat="server" CssClass="errormsg"></asp:Label>
                                                        <asp:Label ID="lblMsg" runat="server" CssClass="errormsg"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="bodytextcenter">
                                                        <input type="button" title="Ok" value="OK" class="ModalPopupButton" onclick="$find('modalExtnd').hide();" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- -->
                                <tr>
                                    <td>
                                        <Ajax:ModalPopupExtender ID="modalComplate" runat="server" TargetControlID="hdnComplete"
                                            PopupControlID="CompleteDiv" BackgroundCssClass="popupbg" RepositionMode="RepositionOnWindowResize">
                                        </Ajax:ModalPopupExtender>
                                        <asp:HiddenField ID="hdnComplete" runat="server" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="CompleteDiv" class="popupdivsmall" style="display: none; width: 350px;">
                                            <table cellpadding="5" cellspacing="0" border="0" width="350">
                                                <tr>
                                                    <td class="searchhdrbarbold" runat="server" id="Td8">
                                                        Result
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="popupdivcl">
                                                        <asp:Label ID="lblComplete" runat="server" CssClass="errormsg"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="button" title="Ok" value="OK" class="ModalPopupButton" onclick="closediv();" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdheight">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Haskell:Footer ID="BottomMenu" runat="server" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>

    <script src="../Script/jquery.js" type="text/javascript"></script>

    <style type="text/css">
        body
        {
            font-family: Arial;
            font-size: 11px;
            color: #333333;
            background: url(../images/body_bg.png) repeat-x;
            background-color: #2672b8;
            margin-top: 0px;
        }
    </style>

    <script type="text/javascript">
        function ValidateTINorSSN(sender, args) {
            var TIN = document.getElementById('<%=txtCompany.ClientID %>');
            var SSN = document.getElementById('<%=txtTaxId.ClientID %>');
            if (TIN.value == "" && SSN.value == "") {
                args.IsValid = false;
                return false;
            }
            else {
                args.IsValid = true;
                return true;
            }
        }
        function displayCompanyDetails() {
            var comptr = document.getElementById("CompDetailstr");
            comptr.style.display = "";
        }
    </script>

    <script type="text/javascript" language="javascript">
        function closediv() {
            $find('ModalPopupExtender2').hide();
            window.location.href = "../VQF/Company.aspx";
        }
        function ChangeUpper(txt) {
            document.getElementById(txt).value = document.getElementById(txt).value.toUpperCase();
        }
        function ShowHide(val, usaPnl, otherPnl) {
         
              var  trOther = document.getElementById(otherPnl);
             var trUSA = document.getElementById(usaPnl);
             
            if (val == 'Other') {
                trUSA.style.display = "none";
                trOther.style.display = "";
            }
            else {
                trOther.style.display = "none";
                trUSA.style.display = "";
            }
        }
    </script>

</body>
</html>
