﻿/** {
	 MARGIN: 0px; PADDING-LEFT: 0px;
	
}*/
.MultiLabel
{
    overflow: hidden;font-family:Tahoma; font-size:11px; width:220px; color: black;BACKGROUND-COLOR: #fbfbfb;border-style:none;
}
.MultiLabelNone
{
    overflow: hidden;BACKGROUND-COLOR: #fbfbfb;border-style:none;
}
.container 
{
	border-left:1px solid #434343; border-right:1px solid #434343; width:900px;  
	vertical-align:top; background-repeat:repeat-x; background-color:#ffffff; height:100%; 
}

.special
{ background-color:#990000; FONT-WEIGHT: bold; FONT-SIZE: 11px;
   padding-top: 5px;  padding-right: 0px; padding-bottom: 5px; padding-left: 5px;
COLOR: #fff; FONT-FAMILY: "tahoma"; text-align:right;
	
	}
	.special1
{ background-color:#990000; FONT-WEIGHT: bold; FONT-SIZE: 11px; padding-top: 5px;  padding-right: 5px; padding-bottom: 5px; padding-left: 5px;
COLOR: #fff; FONT-FAMILY: "tahoma"; text-align:left;
	
	}
	
.greenbold
{
	font-weight:bold;
	font-family:Tahoma;
	color:Green;
}
.darkredbold
{
	font-weight:bold;
	font-family:Tahoma;
	color:Red;
}

.redbold
{
	font-weight:bold;
	font-family:Tahoma;
	color:#333333;
}
 .scopelink
 {
 	 	font:bold 11px tahoma; color:#005785;
 	}
.even_pad
{
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}
.visiblepane
{
	display:block;
	}
.radstyle {
    font: 11px Tahoma;
    vertical-align:top;
    height: 10px;
    padding-left: 0px;
    padding-bottom: 2px; 
    margin: 0px;
    white-space: nowrap;
    text-align:left;     
  }
.formtdboldHighLight{ font-family:Tahoma;	padding-bottom:5px; text-align:left; color:Red;	font-size:11px; font-weight:bold;  }	
.progress{
	width: 1px;
	height: 17px;
	color: white;
	font-size: 12px;
	overflow: hidden;
	background-color: #385f04;
	padding-left: 0px;
}

.display_Check
{
	padding-left:10px;
	vertical-align:top;
	padding-top:0px;

	}
.leftmenutd 
{
	width: 170px;
	vertical-align: top;
padding-right:2px;
}
.bottommenutd 
{
background:url(../images/line.gif);
BACKGROUND-POSITION: bottom 50%; BACKGROUND-REPEAT: repeat-x; 
}
.linkbg
{
background:url(../images/admin_linkbg.jpg)  repeat-x; 
}

.link_welcometxt
{
FONT-WEIGHT: normal; FONT-SIZE: 11px; padding-top: 5px;  padding-right: 5px; padding-bottom: 5px; padding-left: 5px;
COLOR: #333; FONT-FAMILY: "tahoma"; text-decoration:none; 
}
.formhead
{	
	text-align: left;
	font-family: Tahoma;
	font-size: 14px;
	padding: 3px 3px;
	border-bottom: 1px solid #3f3f3f;
	font-weight: bold;
	color: #005785;
}

.formhead1
{	
	text-align: left;
	font-family: Tahoma;
	font-size: 11px;
	padding: 3px 3px;
	border-bottom: 1px solid #3f3f3f;
	font-weight: bold;
	color: #005785;
}

.formhead2
{	
	text-align: left;
	font-family: Tahoma;
	font-size: 11px;
	padding: 3px;
	border-bottom: 1px solid #005785;
	font-weight: bold;
	color: #005785;
}
.contenttd
{
background:url(../images/line.gif); BACKGROUND-POSITION: left 50%; BACKGROUND-REPEAT: repeat-y;
padding: 20px 15px 20px 15px; 
vertical-align: top;
height:380px;
}
.contenttdview
{
background:url(../images/line.gif); BACKGROUND-POSITION: left 50%; BACKGROUND-REPEAT: repeat-y;
padding: 0px 15px 20px 15px; 
vertical-align: top;
height:380px;
}
.searchtableclass
{
	border: solid 1px #005785;
}
/*Jay*/
.searchtableclass1
{
	border: solid 1px #005785;padding:5px
}

/*Jay*/


.searchhdrbarbold
{
	text-decoration:none;
	font-family:Tahoma;
	background-color :#005785;
	color:White;
	padding: 3px 3px 3px 8px;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	height:20px 
}
.regionheader
{
	text-decoration:none;
	font-family:  Tahoma;
	background-color :#efefef;
	color:Black;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	padding:4px 0px 6px 5px;
	
}

.chkall
{
	font-family: Tahoma;
	font-size: 11px;
	color: Black;
	padding:10px 0px 5px 0px;
	border-bottom:1px solid #cccccc; 
	}

.keyheader
{
	text-decoration:none;
	font-family:  Tahoma;
	background-color :#e7eaef;
	color:Black;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	padding: 2px 3px 2px 10px;
	height:20px;
	border-bottom:solid 1px #cecece;
	border-right:solid 1px #cecece;

	
}
.regionstd
{
	font-family: Tahoma;
	font-size: 11px;
	color: Black;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px solid #cccccc; 
 	
	
}
.tdheight
{
	height: 10px;
	font-size: 11px;
}
.formtdrt 
{
padding-left:10px; font-family:Tahoma;	padding-bottom:5px; text-align:left; color:black;	font-size:11px;
}
.formtdlt 
{
	text-align:right; font-family:Tahoma; font-size:11px; padding-bottom:4px; color:black;
}
.formtd 
{
	text-align:right; font-family:Tahoma; font-size:11px; padding-bottom:4px; color:black;
}
.formtdbold_rt 
{
padding-left:10px; font-family:Tahoma;	padding-bottom:5px; text-align:left; color:black;	font-size:11px; font-weight:bold;  
}
.ddlbox
{
	font-family: Tahoma;
	font-size: 11px;
	color: Black;
}
.home_link
{ text-align:right;
	PADDING-BOTTOM: 5px; PADDING-LEFT: 3px; PADDING-RIGHT: 5px; FONT-FAMILY: Tahoma; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none;
	PADDING-TOP: 5px;TEXT-DECORATION: underline;
}
a.home_link:link 
{
FONT-FAMILY: Tahoma; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: underline;
}
a.home_link:Hover
{
FONT-FAMILY: Tahoma; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none;
}

.lstbox
{
	font-family: Tahoma;
	font-size: 11px;
	color: Black;
	width:155px; 
}
.lstbox label
{
	padding-bottom:2px;
	}
.text
{
	font-family:Tahoma; font-size:13px; color:#005785; font-weight:bold;
}
.txtbox 
{
	font-family:Tahoma; font-size:11px; color: black; padding-left:2px;
}
.txtboxNum
{
	font-family:Tahoma; font-size:11px; width:150px; color: black; padding-left:2px;text-align:right;
}
.txtboxupper 
{
	font-family:Tahoma; font-size:11px; width:150px; color: black; padding-left:2px;text-transform:uppercase;
}
.ajaxtxtbox 
{
	font-family:Tahoma; font-size:11px; width:360px; color: black; padding-left:2px;
}
.txtbox1 
{
	font-family:Tahoma; font-size:11px; width:150px; color: black; padding-left:2px; text-align:right;
}
.fileUpload 
{
	font-family:Tahoma; font-size:11px; width:230px; color: black; 
}
.txtboxmedium
{
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	width:85px;color:Black;padding-left:2px;
}
.txtboxmedium1
{
	font-family: Tahoma;
	font-size: 11px;
	text-align: right;
	width:85px;color:Black;padding-left:2px;
}
.txtboxmedium2
{
	font-family: Tahoma;
	font-size: 11px;
	text-align: right;
	width:40px;color:Black;padding-left:2px;
}
.txtboxsmall
{
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	width:40px;
	color: black; padding-left:2px;
}
.txtboxtosmall
{
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	width:20px;
	color: black; padding-left:2px;
}
.bodytextheadbold
{
	font-family: Tahoma;
	font-size: 14px;
	color: black;
	text-align: left;
	font-weight:bold;
}
.bodytextheadbold2
{
	font-family: Tahoma;
	font-size: 12px;
	color: black;
	text-align: left;
	font-weight:bold;
}

.bodytextheadcenter
{
	font-family: Tahoma;
	font-size: 13px;
	color: black;
	text-align: center;
	font-weight:bold;
}
.bodytextheadright
{
	font-family: Tahoma;
	font-size: 13px;
	color: black;
	text-align: right;
	font-weight:bold;
	padding-right:15px;
}
.bodytextnamebold
{
	font-family: Tahoma;
	font-size: 20px;
	color: black;
	text-align: left;
	font-weight:bold;
}
.txtboxlarge 
{
	font-family:Tahoma; font-size:11px; width:220px; color: black; 
}

.txtboxlarge1 
{
	font-family:Tahoma; font-size:11px; width:250px; height:50px; color: black; 
}
.txtboxlargeNum 
{
	font-family:Tahoma; font-size:11px; width:205px; color: black; text-align: right;
}

.txtboxlarge2
{
	font-family:Tahoma; font-size:11px; width:275px; color: black; 
}
.txtboxmultilarge 
{
	font-family:Tahoma; font-size:11px; width:500px;color: black; 
}
.bodytextcenter
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: center;
}
.bodytextright
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: right;
}
.bodytextleft
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: left;
	height: 100%;
	
}

.companytypeddl
{
	font-family: Tahoma;
	font-size: 8pt;
	color: black;
	text-align: left;
	height: 100%;
	
}
.TreeDetails
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: left;
	padding-left:50px;
	
}

.sessiontextleft
{
	font-family: Tahoma;
	font-size: 12px;
	color: black;
	text-align: left;
	
}
.sessiontextbold
{
	font-family: Tahoma;
	font-size: 12px;
	color: black;
	text-align: left;
	font-weight:bold;
}
.bodytextleftView
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: left;
	border-bottom: 1px solid black;
	padding:5px 0px 5px 0px;

	
}

.bodytextleftViewv
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: left;
	padding:0px 0px 0px 0px;

	
}

.bodytextbold_rightv
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: right;
	font-weight:bold;
	padding:5px 10px 5px 0px;
}
.bodytextbold_rightv1
{
	font-family: Tahoma;
	font-size: 11px;
	color: #005785;
	text-align: right;
	font-weight:bold;
	padding:5px 10px 5px 0px;
	
}
.bodytextbold_right
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: right;
	font-weight:bold;
}
.bodytextbold
{
	font-family: Tahoma;
	font-size: 11px;
	color: black;
	text-align: left;
	font-weight:bold;
}
.bodytextboldBlue
{
	font-family: Tahoma;
	font-size: 11px;
	color: #005785;
	text-align: left;
	font-weight:bold;
}
.bodytextboldHead
{
	font-family: Tahoma;
	font-size: 14px;
	color: black;
	text-align: left;
	font-weight:bold;
}
.listheading {
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	background-color:#005785;
	color:#fff;
	height:20px;
	/*padding:10px;
	border-bottom:1px solid #ff0000;
	border-right: 1px solid #fff;
	padding-bottom :4px;
	padding-left:8px;
	padding-top:4px;*/
}

.gridpad
{
	padding-left:10px;
	text-align:left;
	}

.listone
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	background-color: #F3F8FE;
	color:#2f2f2f;
	height:20px;
	/*border-bottom:1px solid #fff;
	border-right: 1px solid #fff;
	vertical-align:top;
	padding-bottom :4px;
	padding-left:8px;
	padding-top:4px;*/
	
	
}


/*tr.listone td
{
padding-left: 10px; 
padding-right: 10px;
padding-top: 7px; 
padding-bottom: 5px;

}

tr.listheading.td
{
	text-align:center;
	}
tr.listtwo td
{
padding-left: 10px; 
padding-right: 10px;
padding-top: 7px; 
padding-bottom: 5px;
}

.listone A
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: none;
	
}
.listone A:Hover
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: underline;
	
}*/
.listtwo
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	background-color:#DDE4EE;
	color:#2f2f2f;
	height:20px;
	/*border-bottom:1px solid #fff;
	border-right: 1px solid #fff;
	vertical-align:top;
	padding-bottom :4px;
	padding-left:8px;
	padding-top:4px;
	TEXT-DECORATION: none;*/
}

/*.listtwo A
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: none;
}

.listtwo A:Hover
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	color:Blue;
	vertical-align:top;
	TEXT-DECORATION: underline;
}*/
.isotd
{
    margin-left: 20px;
}
.qstd
{
    margin-left: 20px;
}
.updatevqf
{
    background: #f03030;
    color: White;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 22px;
    width: 191px;
    height: 54px;
    border: none;
}
.rowstyleone
{
	font-size: 11px;
	font-weight: normal;
	font-family: Tahoma;
	color: #333;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;		
}
.copyrights
{
	font-weight: normal;
	font-size: 10px;
	color: #666666;
	font-family: "tahoma";
	padding-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-align: center;
	border-top: #cccccc 1px solid;
}
.hyplinks
{
FONT-WEIGHT: normal; FONT-SIZE: 11px; padding-left: 5px;COLOR: Blue; FONT-FAMILY: "verdana";
}
.hdrbold
{
	padding-top:10px; font-family:Tahoma; font-size:11px; color:#005785; font-weight:bold;padding-left:5px;
	padding-bottom:0px;
	text-align: left;
}
.mandatorystar
{
	color: red;
	padding-right: 3px;
	font-size: 11px;
}
.exampletext
{
	font-weight:bold;
	color:#005785;
	font-family:Tahoma;
	font-size:11px;
}
.subHeadtext
{
	font-weight:normal;
	color:#005785;
	font-family:Tahoma;
	font-size:11px;
}
.Generaltext
{
	font-weight:bold;
	color:Black;
	font-family:Tahoma;
	font-size:11px;
}
.Accordheading
{
	background-color: #005785; 
	height: 20;
	border-bottom: 1px solid #ffffff;
	vertical-align: middle;
	text-align: left;
	font-family: Tahoma;
	font-size: 11px;
	/*background-image: url(../Images/btn_admin/accbtn_dwn_ad.gif);*/
	background-repeat: no-repeat;
	font-weight: bold;
	color: #ffffff;
	cursor: hand;
	text-decoration:none;
}
.logtbl
{
	padding:15px;
	}

.pad_left
{
	padding:15px 45px 0px 0px;
/*PADDING-LEFT: 470px; */
}
.redtextleft
{
	font-family: Tahoma;
	font-size: 11px;
	color: red;
	text-align: left;
	
}	
.greentextleft
{
	font-family: Tahoma;
	font-size: 11px;
	color: green;
	text-align: left;
	
}	
.even_border
{
	/*border:1px solid #666;
BORDER-BOTTOM: #666 1px solid; BORDER-RIGHT: #666 1px dotted; BORDER-top: #666 1px dotted; BORDER-left: #666 1px dotted;*/
}
.login_heads
{
FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "tahoma"; /*	BACKGROUND: url(../images/arrow.png) no-repeat;*/
PADDING-LEFT: 5px; PADDING-TOP: 0px; PADDING-RIGHT: 0px; PADDING-BOTTOM: 10px; border-bottom:1px solid #beced6;
}
/*menu control*/
.tabs
{
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	
}

.adminltmenutd
{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma;
	color: #333333;
	border-bottom: 1px solid #aaaaaa;
	background-color: #fff;
	width: 170px;
	padding:4px 5px 6px 10px;
	height: 15px;
	
	}
.adminltmenutxt
{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma;
	color: #333333;
	text-decoration:none;
	
	}	

.tab
{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma;
	color: #333333;
	border-bottom: 1px dotted #666666;
	background-color: #fff;
	width: 170px;
	padding:5px 5px 5px 10px;
	height: 15px;
}
.selectedTab
{
	background-color: #333;
	color:#ffffff;
	border-bottom: solid 1px white;
}
.completeSection
{
	font-family: Arial, Sans-Serif;
	font-size: small;
	table-layout: auto;
	border-collapse: collapse;
	border: #1d79ac 1px dotted; text-align:left;
	font-family: Arial;
	font-size: 11px;
	color: #fff; padding-left: 30px;
	BACKGROUND: url(../images/completed.png) 5px 0px no-repeat; 
	background-color: #666666;
	}

.incompleteSection
{
	font-family: Arial, Sans-Serif;
	font-size: small;
	table-layout: auto;
	border-collapse: collapse;
	border: #1d79ac 1px dotted; 
	text-align:left;
	font-family: Arial;
	font-size: 11px;
	color: #fff; padding-left: 30px;
	BACKGROUND: url(../images/imcompleted.png) 5px 0px no-repeat;
	background-color: #666666;
}
.GridViewStyle
{
	font-family: Arial, Sans-Serif;
	font-size: small;
	table-layout: auto;
	border-collapse: collapse;
	border: #1d79ac 1px dotted; text-align:left;
	font-family: Arial;
	font-size: 11px;
	color: #333; 		
}



/*menu control*/
/*top menu */
.main_link
{
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	font-family: "tahoma";
	text-decoration: none;
	padding-left: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	text-align: center;
}
.main_link A
{
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	font-family: "tahoma";
	text-decoration: none;
}
.main_link A:hover
{
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	font-family: "tahoma";
	text-decoration: underline;
}
.headerbg
{
	background-color: #005785;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* top menu end */
/* new j*/

.grid_heading
{
	BACKGROUND: url(../images/grid_head.jpg) repeat-x; height:25PX;  FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: "tahoma"; 
PADDING-LEFT: 5px; PADDING-TOP: 2px; PADDING-RIGHT: 0px; PADDING-BOTTOM: 2px; BORDER-BOTTOM: #666 1px dotted; BORDER-RIGHT: #666 1px dotted;
	
	}
	
	.floatDiv
{
	text-align:left;
	font-family:Tahoma;
	font-size:11px;
	font-weight:normal;
	background-color:#809dad;
	color:#fff;
	border-bottom:1px solid #fff;
	border-right: 1px solid #fff;
	line-height:15px;
	width: 250px;
	padding:10px;
	DISPLAY:none; 
	Z-INDEX:101;
	POSITION:absolute;
	border:solid 1px
	
	}
	
	.lineone
	{BACKGROUND-COLOR: #ffffff;FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: "tahoma"; vertical-align:top; 
PADDING-LEFT: 5px; PADDING-TOP: 5px; PADDING-RIGHT: 0px; PADDING-BOTTOM: 15px; BORDER-BOTTOM: #666 1px dotted; BORDER-RIGHT: #666 1px dotted;
	
	}
	.linetwo
{
	BACKGROUND-COLOR: #ebebeb;FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: "tahoma"; vertical-align:top; 
PADDING-LEFT: 5px; PADDING-TOP: 5px; PADDING-RIGHT: 0px; PADDING-BOTTOM: 5px; BORDER-BOTTOM: #666 1px dotted; BORDER-RIGHT: #666 1px dotted;
	
	}
.box1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff; color:#003399
}
.table_border
	{
		BACKGROUND-COLOR: #fbfbfb; BORDER-BOTTOM: #666 1px dotted; BORDER-RIGHT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-left: #666 1px dotted;
		PADDING:10px 10px 10px 10px;
		}
.table_border1
	{
		BACKGROUND-COLOR: #fbfbfb; BORDER-BOTTOM: #666 1px ; BORDER-RIGHT: #666 1px ; BORDER-TOP: #666 1px ; BORDER-left: #666 1px ;
		PADDING-LEFT: 5px;
		}
		
		

.trvleft 
{
	text-align: left;
	color:Red;
	padding-left: 4px;
	padding-top: 4px;	
}
.trvleft A
{
	text-align: left;
	color:Red;
	padding-left: 4px;
	padding-top: 4px;	
}
.trvleft A:hover
{
text-align: left;
color:Red;

	padding-left: 4px;
	padding-top: 4px;	
}

.errormsg
{
	font-family: Tahoma;
	font-size: 11px;
	color: Red;
}

.summaryerrormsg
{
	font-family:Tahoma;
	font-size:11px;
	color:Red;
	line-height:16px;	
}
/* G. Vera 4/19/2012 - Added class */
.editvendnocontent
{
	font-family:Tahoma;
	font-size:11px;
	color:Black;
	line-height:16px;	
}

.popupdiv2
{
	background-color: #006599;
	border: solid 0.5px #006599;
	width:450px;
	display: block;
	text-align: left;
	
	z-index: 100;
}
.ddlbox2
{
	font-family: Tahoma;
	font-size: 11px;
	color: Black;
}

/* end*/
	.list_head
{
FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none;  
PADDING-LEFT: 5px; PADDING-TOP: 5px; PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px; BORDER-BOTTOM: #cccccc 1px dotted;
}
	.list_head1
{
FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none;  
PADDING-LEFT: 5px; PADDING-TOP: 5px; PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px; 
}
	.tree_head
{
FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005785; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none;  
PADDING-LEFT: 5px; PADDING-TOP: 5px; PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px;  
}
.tree_head1
{
FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005785; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none;  
 PADDING-TOP: 5px; PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px;  
}
	.list_display
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:normal; width:700px;
 PADDING-left: 0px; PADDING-bottom: 2px; padding-top: 2px; cursor:default;  

}
	.cert_display
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:normal; 
 PADDING-left: 0px; PADDING-bottom: 2px; padding-top: 2px; cursor:default;  

}
.cert_display td
{
    text-indent:-30px; padding-left:30px;
    }
	.list_Certification
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:normal; width:400px;
 PADDING-left: 0px; PADDING-bottom: 2px; padding-top: 2px; cursor:default;  

}
	.list_displaybold
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:bold; width:700px;
 PADDING-left: 0px; PADDING-bottom: 2px; padding-top: 2px; cursor:default;  

}
.sectionpad
{
	padding:10px;
	}

.Treestyle
{
	padding-left: 25px;
	}
	
	.tree_display1
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:bold;
 PADDING-left: 0px; PADDING-bottom: 2px; cursor:default;
 

}

.lnkcolor
{
	font-weight:normal;
	font-size:11px;
	font-family:Tahoma;
	color:#005785;
	padding:1px 6px 2px 6px;
	background-color:#dddddd;
	border-right:2px solid #ffffff;
	text-decoration:none;
	
	}
	.Selectlnkcolor
{
	font-weight:bold;
	font-size:11px;
	font-family:Tahoma;
	color:white;
	text-decoration:none;
	cursor:default;
	background-color:#005785;
	padding:1px 6px 2px 6px;
	border-right:2px solid #ffffff;
	
	}
	.list_displayView
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:normal;
 PADDING-left: 0px; PADDING-bottom: 2px; padding-right:50px; cursor:default; 

}
.list_displayView input      
{
	     float:inherit;
	      
}      
      
.list_displayView label {          
    float:inherit;
    
    
  
} 
.list_displayView td {          
  text-indent:-20px;
  padding-left:20px;
    
  
}
	.list_display1
{
 FONT-SIZE: 11px; COLOR:black; FONT-FAMILY: "tahoma";  font-weight:normal;
 PADDING-left: 0px; PADDING-bottom: 2px; cursor:default; 

}
.list_display1 input      
{
	     float:inherit;
	      
}      
      
.list_display1 label {          
    float:inherit;
    
  
} 
.list_display1 td {          
  text-indent:-65px;
  padding-left:65px;
    
  
} 
/* pop up*/
.popupdivcl
{
 background-color :#ffffff; 

 padding:0px 25px 3px 25px;
/* border-left:1px solid #3a4d1a;
 border-right:1px solid #3a4d1a;*/
 
}

.CursorStyle
{
	cursor:pointer;
	}

.popupspc
{
 background-color :#ffffff; 
 display:block;
 

 
}
.popupbg
{
	background-color:black;
	filter:alpha(opacity=50);
	opacity: 0.5;
	moz-opacity:0.5;
	margin-top:0px; 
	margin-left:0px;
}

.popupdivbg
{
	background-color:#ffffff;
	border:solid 1px #3f3f3f;width:480px;display:block; text-align:left;
}
.popupdivbg1
{
	background-color:#ffffff;
	border:solid 1px #3f3f3f;width:425px;display:block; text-align:left;
}

.popuplegdiv
{
	background-color:#ffffff;
	border:solid 1px #3f3f3f;width:575px;display:block; text-align:left;
}
a.green
{
	color:#138f4d;
	text-decoration:underline;
}

a:hover.green
{
	color:#138f4d;
	text-decoration:none;
}

a.grey
{
	color:#a5a6a6;
	text-decoration:underline;
}

a:hover.grey
{
	color:#a5a6a6;
	text-decoration:none;
}
.popupdivsmall
{
	background-color:#ffffff; border:solid 1px #216ba8; width:350px; display:block; text-align:left;z-index:100;  
}

.popupdivsmall1
{
	background-color:#f5f5f5;
	border:solid 1px #216ba8;width:275px;display:block; text-align:left;
	z-index:100;  
}

.ModalPopupButton
{
	background-color:#015B8F; vertical-align:middle; text-align:center; font-family:Tahoma; font-size:11px;
	font-weight:bold; color:#ffffff;padding:1px 2px 1px 5px;	
}
.ModalPopupTd
{
	padding-top:10px;	
	text-align:center;
	font-size:11px;
}

.hidelbl{display:none;}
.modalpopup
{
    font-family: arial,helvetica,clean,sans-serif;
    font-size: small;
    padding: 2px 3px;
    display: block;
    position: absolute;
}

.popupcontainer
{
    border-color:  #3a4d1a;
    border-width: 1px 1px 1px 1px;
   
   
} 
.popupheader
{
    /*background: url(../../images/sprite.png) repeat-x 0px -200px;	*/
    background-color:#3a4d1a;
    color: #ffffff;	
    border-color: #3a4d1a #3a4d1a #3a4d1a #3a4d1a;
   
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 3px 10px;
} 
 /*
.popupheader .msg
{
    font-weight: bold;
}         
.popupbody .msg
{
    background: url(../img/sprite.png) no-repeat 0px -2000px;	
    float: left;
    padding-left: 22px;
}  
*/
.popupfooter
{
    background-color: #dce3d0;
    /*border-color: #1c4b77;
    border-style: none solid;
    border-width: 0px 1px 1px 1px;*/
    border-bottom:1px solid #3a4d1a;
    border-left:1px solid #3a4d1a;
    border-right:1px solid #3a4d1a;
    text-align:right;
    padding-bottom: 8px;
    padding-right: 8px;
} 
.popupfooter1
{
    background-color: #dce3d0;
    /*border-color: #1c4b77;
    border-style: none solid;
    border-width: 0px 1px 1px 1px;*/
    border-bottom:1px solid #3a4d1a;
    border-left:1px solid #3a4d1a;
    border-right:1px solid #3a4d1a;
    text-align:center;
    padding-bottom: 8px;
    padding-right: 8px;
}

.popupdiv
{
	background-color: #006599;
	border: solid 0.5px #006599;
	width:230px;
	display: block;
	text-align: left;
	
	z-index: 100;
}

/*
.popupbody
{
    background-color:white;
    border-color: #3a4d1a;
    border-style: solid;
    border-width: 0px 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
} 
*/
/* pop up div*/
/* START Validate call out Style*/
.ajax__validatorcallout div, .ajax__validatorcallout td {border:solid 1px #6a6a6a ;background-color:#8CB1DE; color:#8CB1DE}
.ajax__validatorcallout .ajax__validatorcallout_error_message_cell {font-family:Verdana;font-size:10px;padding:5px;border-right:none;border-left:none;color:White;border-top:1px solid #8CB1DE ;border-bottom:1px solid #8CB1DE;  background-color:#8CB1DE;width:100%;}
.ajax__validatorcallout .ajax__validatorcallout_close_button_cell {vertical-align:top;padding:0px;text-align:right;border-left:none;background-color:#8CB1DE;border-top:1px solid #8CB1DE ;border-bottom:1px solid #8CB1DE;  border-right:1px solid #8CB1DE}
.ajax__validatorcallout .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv {border:none;text-align:center;width:10px;padding:2px;cursor:pointer;background-color:#8CB1DE;}
.ajax__validatorcallout .ajax__validatorcallout_icon_cell {width:20px;padding:5px;border-left:1px solid #8CB1DE ;border-top:1px solid #8CB1DE ;border-bottom:1px solid #8CB1DE; background-color:#8CB1DE; }
.ajax__validatorcallout .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div {height:1px;overflow:hidden;border-top:none;border-bottom:none;border-right:none;padding:0px; border-left:1px solid #8CB1DE; margin-left:auto; background-color:#8CB1DE;}
.ajax__validatorcallout .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv {font-size:1px;position:relative;left:1px;border-top:1px solid #8CB1DE;border-right:none;border-left:none;width:15px;background-color:transparent;padding:0px;}
/* end of coding */

/*Accordion*/

.accordionHeader
{
	border: 1px solid #2F4F4F;
	color: white;
	background: url(../images/expand_blue.png) no-repeat right;
	background-color: #2E4D7B;
	font-family: Tahoma, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 4px 4px 7px;
	margin-top: 5px;
	cursor: pointer;
}
.ContentHeader
{
	border: 1px solid #2F4F4F;
	color: white;
	background-color: #2E4D7B;
	font-family: Tahoma, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 4px 4px 7px;
	margin-top: 5px;
	
}


.Header
{
	border: 1px solid #2F4F4F;
	color: white;
	background-color: #2E4D7B;
	font-family: Tahoma, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 4px 4px 7px;
	
	width:100%;
	vertical-align:top;
	
}

.Messageheading{
	padding:6px 5px 6px 10px; background-color:#2E4D7B; border-bottom:1px solid #2E4D7B; border-right:0px solid #2E4D7B; font:bold 11px Arial, Helvetica, sans-serif, Tahoma; color:white;
}

.accordionHeader a
{
	color: white;
	background: none;
	text-decoration: none;
	 
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: none;
}

.accordionLink
{
	color: white;
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.accordionHeaderSelected
{
	border: 1px solid #005785;
	color: white;
	background: url(../images/collapse_blue.png) no-repeat right 5px;
	background-color: #5078B3;
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 4px 4px 7px;
	margin-top: 5px;
	cursor: pointer;
	text-decoration: none;
}

.even_brd
{
	BORDER-BOTTOM: #cccccc 1px dotted; BORDER-top: #cccccc 1px dotted; BORDER-left: #cccccc 1px dotted; BORDER-right: #cccccc 1px dotted; 
	padding: 4px 4px 4px 7px;
	
	
	}
.left_border
{
	padding-left: 5px;
}
.left_borderView
{
	padding-left: 60px;
	padding-bottom:10px;
	padding-top:0px;  
}
.keyleft_border
{
	padding-left: 20px;
}
 .style1
        {
            height: 1px;
            width:100px;
        }	
.paddingright
        {
            display:block;
			padding-left:25px;
			/*border-left:1px solid #3a4d1a;
			border-right:1px solid #3a4d1a;*/
        }		
  .line
  {      
  		height: 1px;
        width:100px;
        
  }
        
    /*############*/
    
    .radiobtn
    {
    	vertical-align:top;
    	}
  
  /*############*/
  
  .right
  {
  	padding-left:10px;
  	padding-right:10px;  
  }
  
  .emptytdheight
  {
  	padding-top:10px;
  	padding-bottom:10px;  
  }
  
 .thankstxt
 {
 	font:bold 11px tahoma; color:#FFFFFF; background-color:#2672b8; padding:10px;
 	}
 	 .cell1
        {
            width: 3%;
            font-family: tahoma;
            font-size: 12px;
        }
        .cell2
        {
            width: 76%;
            font-family: tahoma;
            font-size: 12px;
        }
        .cell3
        {
            width: 16%;
            font-family: tahoma;
            font-size: 12px;
        }
        .sresublist li
        {
            list-style-type: katakana-iroha;
            line-height: 17px;
            font-family: Tahoma;
            font-size: 12px;
        }
        .riskCell
        {
            text-align: right;
  vertical-align:middle; 
            padding-right: 5px;
        }
        .riskCaption
        {
            font-family: Tahoma;
            font-size: 13px;
            font-weight: bold;
        }
        
        img
        
        { border:0px;
            
            }