﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UclInnerTopMenu.ascx.cs" Inherits="UserControl_UclInnerTopMenu" %>
<link href="../css/Haskell.css" rel="stylesheet" type="text/css" />
<table cellpadding="0" cellspacing="0" width="100%" style="padding:0px 0px 0px 0px">
<tr>
    <td ><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px 0px 0px 0px" >
      <tr>
        <td width="50%" style="padding: 5px;">
        <a href="../Admin/Login.aspx" title="Home"><img src="../images/haskelllogo.jpg" border="0" /></a></td>
        <td width="50%" >
        <table cellpadding="0" cellspacing="0" border="0" align="right">
            <tr>
                <%--G. Vera 11/01/2012 - Added to be dynamic--%>
                <td valign="middle" class="bodytextbold_right">Version&nbsp;<asp:Literal ID="lblVersion" runat="server" Text='<%$ appSettings:Version %>' />&nbsp;&nbsp;</td>
              
            </tr>
            <tr><td>&nbsp;</td></tr>
             <tr><td colspan="2" valign="middle" class="bodytextbold_right">
          <div id="divEmployeeName" runat="server">
             <%if (Session["EmployeeName"] != null) { Response.Write("Welcome" + " " + Session["EmployeeName"].ToString()); }%>&nbsp;
             </div></td>
            </tr>
        </table></td></tr>  </table> 
        </td>
      </tr>
          
      <tr><td class="bottommenutd" colspan="2" valign="bottom" align="right">&nbsp;</td></tr>
    </table>
 