﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uclVQFRegistaionMenu.ascx.cs" Inherits="UserControl_uclVQFRegistaionMenu" %>
<link href="../css/Haskell.css" rel="stylesheet" type="text/css" />
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td  class="even_pad"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0px 0px 0px 0px" >
      <tr>
        <td width="50%" style="padding: 5px;">
        <a href="../Common/Home.aspx" title="Home"><img src="../images/haskelllogo.jpg" border="0px" /></a></td>
        <td width="50%" >
        <table cellpadding="0" cellspacing="0" border="0" align="right">
            <tr>
                <td>
                </td>
                <td  >
                </td>
            </tr>
            <%--G. Vera 11/01/2012 - Added to be dynamic--%>
             <tr><td colspan="2" valign="middle" class="bodytextbold_right">
                 Version&nbsp;<asp:Literal ID="lblVersion" runat="server" Text='<%$ appSettings:Version %>' />&nbsp;&nbsp;</td>
            </tr>
        
        </table> </td>
      </tr>
          
      <tr><td class="bottommenutd" colspan="2" valign="middle">&nbsp;</td></tr>
    </table></td>
  </tr>

 </table>
 
